{% extends "layouts/main.html" %}

{% block pageTitle %}
Customise a user journey - GOV.UK One Login - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="./driving-licence-cri/photocard-authority">
            {% if (data['confidence'] == "low") %}
            <h1 class="govuk-heading-l">YOUR CONFIDENCE IS LOW</h1>

            {% else %}
            <h1 class="govuk-heading-l">YOUR CONFIDENCE IS MEDIUM</h1>
            
            {% endif %}
            <button id="button" class="govuk-button" data-module="govuk-button" >CONGRATULATIONS</button>
        </form>
    </div>
</div>

{% endblock %}
