{% extends "layouts/main.html" %}

{% block pageTitle %}
Sorry, there is a problem - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% set continue %}
Continue with {{ data['address-postcode-prev'] or 'N15 6QJ' }} and enter the rest of your address details manually
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, there is a problem</h1>
    <p>We cannot find any addresses with the postcode <strong>{{ data['address-postcode-prev'] or 'N15 6QJ' }}.<strong></p>
    <form class="form" action="address-error-choice-post-prev" method="post">

      {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "error-choice",
      name: "error-choice",
      fieldset: {
        legend: {
          text: "What would you like to do?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "continue",
          html: continue
        },
        {
          value: "tryagain",
          html: "Try entering your postcode again"
        }
      ]
    }) }}

    <button class="govuk-button" type="submit" data-module="govuk-button">
      Continue
    </button>
    </form>
    <p><a class="govuk-link" href="#" target="_blank">Contact the GOV.UK One Login team (opens in a new tab)</a></p>
    <div class="govuk-notification-banner govuk-notification-banner--journey-options govuk-!-margin-top-9" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Prototype options
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p><a href="address-picker-previous" class="govuk-link govuk-link--no-visited-state">(TEMPORARY WHILE API DOESN'T WORK) Choose your address</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
