{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity with a GOV.UK account - GOV.UK One Login - GOV.UK
{% endblock %}

{% block header %}
{% include "../preauth/_includes/header-preauth.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="preauth-route" method="post">

      <h1 class="govuk-heading-l">Prove your identity with GOV.UK One Login</h1>

      <p>You’ll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a GOV.UK One Login - we’ll ask you to sign in or create one when you continue</li>
        <li>your photo ID</li>
        <li>your current home address (you might also need your previous address if you’ve recently moved)</li>
      </ul>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you do not have photo ID
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">You may be able to prove your identity using a current account with a UK bank or building society.</p>
          <p class="govuk-body">You’ll also need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>provide your National Insurance number</li>
            <li>answer some security questions</li>
          </ul>
        </div>
      </details>

      
      <p>We’ll only use the information you give us to make sure that you are who you say you are.</p>

      <div class="govuk-inset-text">
        You can also <a href="#">use GOV.UK One Login in Welsh (Cymraeg)</a>.
      </div>

    <button class="govuk-button">Continue</button>

</form>

    {% if data['devMode'] === 'true' %}
    {# DEVMODE SCENARIOS #}

    <details class="nhsuk-details dev-mode govuk-!-margin-bottom-5" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <h4>Alternate versions</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="identity-welcome">Standard page (signed out)</a>
          </li>
          <li>
            <a href="identity-welcome-signedin">Signed in version</a>
          </li>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>

</div>
{% endblock %}