{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you on a computer or a tablet right now? - GOV.UK One Login - GOV.UK
{% endblock %}


{% block header %}
{% include "../../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="device-check" method="post">
      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "app-device-check",
        name: "app-device-check",
        fieldset: {
          legend: {
            text: "Are you on a computer or a tablet right now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "You’ll need to use a smartphone to prove your identity if you use the GOV.UK One Login app."
        },
        items: [
          {
            value: "yes",
            text: "Yes, I am on a computer or tablet",
            checked: checked("app-device-check", "yes"),
            hint: {
              text: "We'll tell you when to switch devices. You will not need to start again."
            }
          },
          {
            value: "no",
            text: "No, I am on a smartphone",
            checked: checked("app-device-check", "no")
          }
        ]
      }) }}
      <button class="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}
