{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you live in the UK, the Channel Islands or the Isle of Man? - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     

      <form class="form" action="/ipv-core/triage/live-in-uk-post" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
        name: "live-in-uk-choose",
        idPrefix: "live-in-uk-choose",
        fieldset: {
        legend: {
        text: "Do you live in the UK, the Channel Islands or the Isle of Man?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
        },
        hint: {
          text: "How you can prove your identity depends on where you live."
        },
        items: [
        {
        value: "yes",
        text: "Yes"
        },
        {
        value: "no",
        text: "No"
        }
        ]
        }) }}

        <button id="button2" class="govuk-button" data-module="govuk-button">Continue</button>
          
            </div> <!-- /. govuk-radios -->
          </fieldset> <!-- /. govuk-fieldset -->
        </div> <!-- /. govuk-form-group -->
        
      </form> <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
  </div> <!-- /. govuk-grid-row -->

{% endblock %}
