{% extends "layouts/main.html" %}


{% block pageTitle %}
{{ heading or 'Confirm your details' }} - GOV.UK One Login - GOV.UK
{% endblock %}


{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form class="form" action="non-uk-passport-post" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="cnon-uk-passport-item-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have a passport with a biometric chip? 
            </h1>
          </legend>
          <div id="non-uk-passport-item-hint" class="govuk-hint">
            You will need a passport with a biometric chip to prove your identity with GOV.UK One Login.
            <br> <br>
            To check if your passport has a biometric chip, look for the rectangular biometric chip symbol on the front cover.
          </div>
          <img src="/public/images/chip.png" alt="An illustration of the front cover of a passport. The passport has a golden camera symbol at the bottom, which means it has a biometric chip"> 
          <br><br>
          <form class="form" action="non-uk-passport-post" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="security-code-hint">
                <div class="govuk-radios" data-module="govuk-radios">
      
                  <!-- UK Passport -->
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="non-uk-passport" name="non-uk-passport" type="radio" value="yes" aria-describedby="non-uk-passport-item-hint">
                    <label class="govuk-label govuk-radios__label" for="non-uk-passport">
                     Yes
                      
                    </label>
                  </div>
            
                  <!-- Non-UK passport -->
      
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="non-uk-passport-1" name="non-uk-passport" type="radio" value="no" aria-describedby="non-uk-passport-item-hint">
                    <label class="govuk-label govuk-radios__label" for="non-uk-passport-1">
                      No
                    </label>
                    <br>
                  </div>
                  <br>
  

          </div> <!-- /. govuk-radios -->
        </fieldset> <!-- /. govuk-fieldset -->
      </div> <!-- /. govuk-form-group -->
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form> <!-- /. form -->
  </div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->

{% endblock %}
