{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm your addresses - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confirm your addresses</h1>

    {{ govukWarningText({
      text: "Make sure your details are correct before you continue.",
      iconFallbackText: "Warning"
    }) }}

    <form action="../fraud-cri/fraud-check" method="post" class="form">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current home address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['address-city-current'] %}
              {% if data['address-line1-current'] %}
                {{ data['address-line1-current'] }}<br>
              {% endif %}
              {% if data['address-line2-current'] %}
                {{ data['address-line2-current'] }}<br>
              {% endif %}
              {{ data['address-city-current'] }}<br>
              {% if data['address-county-current'] %}
                {{ data['address-county-current'] }}<br>
              {% endif %}
              {{ data['address-postcode-current'] or 'LS1 3BE' }}

              {% else %}
                Office 14 <br>
                New Station St <br>
                Leeds <br>
                LS1 5DL
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="find-current-address-manual?from=check-answers">
              Change<span class="govuk-visually-hidden"> current address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Year you started living at your current home address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-year-current-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="address-years-current?from=check-answers">
              Change<span class="govuk-visually-hidden"> year</span>
            </a>
          </dd>
        </div>

        {% if data['address-city-prev'] %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Previous address
          </dt>
          <dd class="govuk-summary-list__value">

            {% if data['address-city-prev'] %}
              {% if data['address-line1-prev'] %}
                {{ data['address-line1-prev'] }}<br>
              {% endif %}
              {% if data['address-line2-prev'] %}
                {{ data['address-line2-prev'] }}<br>
              {% endif %}
              {{ data['address-city-prev'] }}<br>
              {% if data['address-county-prev'] %}
                {{ data['address-county-prev'] }}<br>
              {% endif %}
              {{ data['address-postcode-prev'] or 'N15 6QJ' }}

            {% else %}
              Office 14 <br>
              New Station St <br>
              Leeds <br>
              LS1 5DL
            {% endif %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="find-previous-address-manual?from=check-answers">
              Change<span class="govuk-visually-hidden"> previous address</span>
            </a>
          </dd>
        </div>

        {% endif %}

      </dl>
      <button class="govuk-button" type="submit" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
