{% extends "layouts/main.html" %}

{% block pageTitle %}
Have you lived at your current home address for longer than 3 months? - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="address-years-current">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="three-months" method="post" class="form">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "lived-three",
        name: "lived-three",
        fieldset: {
          legend: {
            text: "Have you lived at your current home address for longer than 3 months?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      <button class="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
