{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ heading or 'Enter your previous address' }}  - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="address-picker-prev">Back</a>
{% endblock %}

{% block content %}

{% if data['correct-prev-address'] === 'no' %}
  {% set heading = 'Check your previous address' %}
{% elif id['delivery-address'] === 'true' %}
  {% set heading = 'Check your previous address' %}
{% elif data['from'] === 'check-answers' %}
  {% set heading = 'Check your previous address' %}
{% elif data['from'] === 'review-history' %}
  {% set heading = 'Check your previous address' %}
{% else %}
  {% set heading = 'Enter your previous address' %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="address-manual-prev-post" method="post">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{ heading or 'Enter your previous address' }}
          </h1>
        </legend>

        <p>
          <span class="govuk-!-margin-bottom-1 govuk-!-display-block">Postcode</span>
          <strong>{{ data['address-postcode-prev'] or 'N15 6QJ' }}</strong>
          <a href="address-postcode-prev" class="govuk-!-margin-left-5">
            Change
            <span class="govuk-visually-hidden">your postcode</span>
          </a>
        </p>

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-input--width-20",
          id: "address-line1-prev",
          value: data['address-line1-prev'],
          name: "address-line1-prev"
        }) }}

        <!-- Address Line 2-->

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-input--width-20",
          id: "address-line2-prev",
          value: data['address-line2-prev'],
          name: "address-line2-prev"
        }) }}

        <!-- postTown-->

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-input--width-20",
          id: "address-city-prev",
          value: data['address-city-prev'],
          name: "address-city-prev"
        }) }}

        <!-- County-->

        {{ govukInput({
          label: {
            text: "County (optional)"
          },
          classes: "govuk-input--width-20",
          id: "address-county-prev",
          value: data['address-county-prev'],
          name: "address-county-prev"
        }) }}

      </fieldset>

      <button class="govuk-button" type="submit" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
