{% extends "layouts/main.html" %}

{% block pageTitle %}
How much did you borrow when you first took out your mortgage? - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="experian-question2" method="post">

        {{ govukRadios({
          name: "mortgage-balance",
          fieldset: {
            legend: {
              text: "How much did you borrow when you first took out your mortgage?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can find this amount on your offer letter or mortgage agreement."
          },
          items: [
            {
              value: "UP TO £160,000",
              text: "UP TO £160,000"
            },
            {
              value: "OVER £160,000 UP TO £185,000",
              text: "OVER £160,000 UP TO £185,000"
            },
            {
              value: "OVER £185,000 UP TO £210,000",
              text: "OVER £185,000 UP TO £210,000"
            },
            {
              value: "OVER £210,000 UP TO £235,000",
              text: "OVER £210,000 UP TO £235,000"
            },
            { 
              value: "NONE OF THE ABOVE / DOES NOT APPLY",
              text: "NONE OF THE ABOVE / DOES NOT APPLY"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
      <p><a class="govuk-link" href="../ipv-core/kbv-drop-off-buffer">I cannot answer this question</a></p>
    </div>
  </div>
{% endblock %}

