{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ title }} - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">{{ title }}</h1>
        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        {% if derivation != "" %}
        {{ govukInsetText({
        text: derivation
        }) }}
        {% endif %}

        {% if instructionsParagraph != "" %}
        <p class="govuk-body">
            {{ instructionsParagraph | safe }}
        </p>
        {% endif %}

        {% if instructions != "" %}
        <ul class="govuk-list govuk-list--bullet">
            {{ instructions | safe }}
        </ul>
        {% endif %}

        <form action="get-hmrc-question" method="post">

            {% if formFields !== '' %}

            {% for formItem in formFields %}
            {{ govukInput({
            id: formItem.id,
            name: formItem.name,
            label: {
            text: formItem.labelText,
            classes: "govuk-label--s",
            isPageHeading: false
            },
            hint: {
            text: formItem.hintText
            },
            prefix: {
            text: formItem.prefix
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}

            {% endfor %}
            {% endif %}
            
            {{ formCodePreCustomHtml | safe }}

            {% from "govuk/components/radios/macro.njk" import govukRadios %}
          
            {% if formRadios.visible == "true" %}
            {{ govukRadios({
            name: formRadios.name,
            items: formRadios.items
            }) }}
            {% endif %}
            
            {% if formCodeVisible == "true" %}
            {% if formInputClass == undefined %}
            {% set formInputClass = "govuk-input--width-10" %}
            {% endif %}


            {% from "govuk/components/input/macro.njk" import govukInput %}
            {{ govukInput({
            id: code,
            name: code,
            label: {
            text: formCodeHeading,
            classes: "govuk-label--s",
            isPageHeading: false
            },
            hint: {
            text: formCodeHint
            },
            prefix: {
            text: formCodeInputPrefix
            },
            classes: formInputClass,
            spellcheck: false
            }) }}
            {% endif %}


            <button id="button" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>
        </form>
        <p><a class="govuk-link" href="../ipv-core/kbv-drop-off-buffer">I need to prove my identity another way</a></p>
    </div>
</div>

{% endblock %}
