{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK account: report a problem or give feedback
{% endblock %}

{% block header %}
{% include "../support/_includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="support-contact-us">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="support-start-post" method="post">
          <h1 class="govuk-heading-l">
            GOV.UK One Login: report a problem or give feedback
          </h1>
          <p>Use this form to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>tell us about a problem you’re having with your GOV.UK One Login</li>
            <li>suggest improvements or give feedback about your experience using your GOV.UK One Login</li>
          </ul>
          <p>Our office hours are 9:30am to 5:30pm, Monday to Friday. We'll respond to you by email in 2 working days.</p>

          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "support-main-cat",
          name: "support-main-cat",
          fieldset: {
            legend: {
              text: "What are you contacting us about?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "problem-creating-account",
              text: "A problem creating a GOV.UK One Login",
              checked: checked("support-main-cat", "problem-creating-account")
            },
            {
              value: "problem-signing-in",
              text: "A problem signing in to your GOV.UK One Login",
              checked: checked("support-main-cat", "problem-signing-in")
            },
            {
              value: "problem-another",
              text: "Another problem using your GOV.UK One Login",
              checked: checked("support-main-cat", "problem-another")
            },
            {
              value: "problem-identity-app",
              text: "A problem proving your identity using the GOV.UK ID Check app",
              checked: checked("support-main-cat", "problem-identity-app")
            },
            {
              value: "problem-identity-f2f",
              text: "A problem proving your identity with the Post Office",
              checked: checked("support-main-cat", "problem-identity-f2f")
            },
            {
              value: "problem-identity",
              text: "A problem proving your identity",
              checked: checked("support-main-cat", "problem-identity")
            },
            {
              value: "email-subscriptions",
              text: "GOV.UK email subscriptions",
              checked: checked("support-main-cat", "email-subscriptions")
            },
            {
              value: "suggestion-feedback",
              text: "A suggestion or feedback about using your GOV.UK One Login",
              checked: checked("support-main-cat", "suggestion-feedback")
            }
          ]
        }) }}

        <button id="button" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
