{% extends "layouts/main.html" %}

{% block pageTitle %}
We need to check your driving licence details with the DVLA - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      We need to check your driving licence details with the DVLA
    </h1>
    <p>We need to check the details you provided on your driving licence with the DVLA.</p>
    <form class="form" action="auth-consent" method="post">
      <h2 class="govuk-heading-m">
        Allow DVLA to check your driving licence details
      </h2>
      <p class="govuk-body">DVLA needs your permission to check your driving licence details before you can continue. They will make sure your licence has not been cancelled or reported as lost or stolen.</p>
      <p class="govuk-body">To find out more about how your driving licence details will be used, you can read:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#">the GOV.UK One Login privacy notice (opens in a new tab)</a>
        </li>
        <li>
          <a class="govuk-link" href="#">the DVLA privacy notice (opens in a new tab)</a>
        </li>
      </ul>
      <!-- Default value when the checkbox is unchecked -->
      <input type="hidden" name="consent" value="no">

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <!-- Checkbox overwrites the hidden input if checked -->
          <input 
            class="govuk-checkboxes__input" 
            id="consent" 
            name="consent" 
            type="checkbox" 
            value="yes">
          <label class="govuk-label govuk-checkboxes__label" for="consent">
            Give DVLA permission to check your driving licence details
          </label>
        </div>
      </div>
      <button id="button2" class="govuk-button govuk-visually-hidden" data-module="govuk-button">Continue</button>
      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      document.getElementById('button2').click()
    }, 2000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
</script>

{% endblock %}
