{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your UK photocard driving licence details - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your UK photocard driving licence details</h1>
    {{ govukWarningText({
      text: "Make sure your details are correct before you continue. ",
      iconFallbackText: "Warning"
    }) }}
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          Grady
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Given names
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah May
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          11 03 1976
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Issue date
        </dt>
        <dd class="govuk-summary-list__value">
          19 01 2019
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Valid to
        </dt>
        <dd class="govuk-summary-list__value">
          18 01 2029
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Licence number
        </dt>
        <dd class="govuk-summary-list__value">
          JONES753116SM9IJ
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Issue number
        </dt>
        <dd class="govuk-summary-list__value">
          35
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postcode
        </dt>
        <dd class="govuk-summary-list__value">
          EH1 9GP
        </dd>
      </div>
    </dl>
    <form class="form" action="dl-correct" method="post">
      {{ govukRadios({
        name: "dl-correct",
        idPrefix: "dl-correct",
        fieldset: {
          legend: {
          text: "Are your driving licence details correct?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"}
        },
        items: [{
          value: "yes",
          text: "Yes"
          },
          {
          value: "no",
          text: "No",
          hint: {
            text: "You can try to scan your driving licence again or prove your identity another way."
          }
          }]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Confirm and continue</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      document.getElementById('button2').click()
    }, 2000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
</script>

{% endblock %}
