{% extends "layouts/main.html" %}

{% block pageTitle %}
You have already proved your identity  - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-">
      <form class="form" action="../../service/service-start" method="post">
        <h1 class="govuk-heading-l">You have already proved your identity</h1>
        <p class="govuk-body">You have already proved your identity with GOV.UK One Login. You would have done this online or in person at the Post Office.</p>
        <p class="govuk-body">You can now continue to the service you need to use.</p>

        <h2 class="govuk-heading-m">Check your details</h2>
        <p class="govuk-body">You submitted the following details when you proved your identity. You might want to check your details are still correct if you've not signed in to GOV.UK One Login in a while.</p>
        <p class="govuk-body">Some of these details might be used to automatically fill in forms within the service you need to use.
        </p>
        <h3 class="govuk-heading-s">Your details</h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current home address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['address-city-current'] %}
                {% if data['address-line1-current'] %}
                  {{ data['address-line1-current'] }}<br>
                {% endif %}
                {% if data['address-line2-current'] %}
                  {{ data['address-line2-current'] }}<br>
                {% endif %}
                {{ data['address-city-current'] }}<br>
                {% if data['address-county-current'] %}
                  {{ data['address-county-current'] }}<br>
                {% endif %}
                {{ data['address-postcode-current'] or 'LS1 3BE' }}

                {% else %}
                  Office 14 <br>
                  New Station St <br>
                  Leeds <br>
                  LS1 5DL
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              29 February 1984
            </dd>
          </div>
        </dl>
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              If your details are wrong
            </span>
          </summary>
          <div class="govuk-details__text">
            <h4 class="govukheading-s">If your details have changed </h4>
            <p>Your proof of identity is still valid even if your details have changed.</p>
            <p>You do not need to update your details to continue to the service you need to use.</p>
            <p>When you continue, GOV.UK One Login will share your saved details with the service.</p>
            <p>If you need to, you can <a href="update-details">update your details.</a></p>
            <h4 class="govukheading-s">If there is a mistake in your name</h4>
            <p><a href="#">Contact the GOV.UK One Login team (opens in new tab)</a> if there is a mistake in your name. </p>
            <p>For example, if your name is missing letters or a hyphen.</p>
            <p>Do not try to update your details or prove your identity again unless the GOV.UK One Login team has told you to.</p>
          </div>
        </details>
        <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
