//Loading spinner

.spinner-container {
    margin: 0;
    display: flex;
    justify-content: center;
}

.hods-loading-spinner {
    padding-top: 15px
}

@media(min-width: 40.0625em) {
    .hods-loading-spinner {
        padding-top: 20px
    }
}

.hods-loading-spinner__spinner {
    margin-right: auto;
    border: 12px solid #dee0e2;
    border-radius: 50%;
    border-top-color: #1d70b8;
    width: 80px;
    height: 80px;
    -webkit-animation: hods-loading-spinner-animation 2s linear infinite;
    animation: hods-loading-spinner-animation 2s linear infinite
}

.hods-loading-spinner__content {
    padding-top: 15px;
    text-align: left
}

@media(min-width: 40.0625em) {
    .hods-loading-spinner__content {
        padding-top: 20px
    }
}

@-webkit-keyframes hods-loading-spinner-animation {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes hods-loading-spinner-animation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.hods-highlight {
    background-color: #ffe5cc;
    border-bottom: 2px solid #ffb266
}

.hods-highlight::before,
.hods-highlight::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.hods-highlight::before {
    content: " [highlight start] "
}

.hods-highlight::after {
    content: " [highlight end] "
}