{% extends "layouts/main.html" %}

{% block pageTitle %}
Answer some security questions - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="get-hmrc-question" method="post">
      <h1 class="govuk-heading-l">
        Answer some security questions
      </h1>
      <p class="govuk-body">We use security questions as the last step in checking your identity.</p>
      <p class="govuk-body">The questions are about information that’s personal to you. This stops other people from pretending to be you.</p>
      <p class="govuk-body">You must answer enough questions correctly to prove your identity. You can then continue to the service you need to use.</p>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-1">You’ll need some of these documents:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>payslips</li>
        <li>P60</li>
        <li>Self Assessment</li>
        <li>tax credits</li>
      </ul>
      <p class="govuk-body">This is because the questions use information from HM Revenue and Customs (HMRC). </p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">How we know what questions to ask you</span>
        </summary>
        <div class="govuk-details__text">
          <p>We will not keep your answers to the security questions or share them with the service you need to use.</p>
          <p>If you'd like to know more about how your details will be used to prove your identity, <a href="https://signin.account.gov.uk/privacy-notice" class="govuk-link" rel="noreferrer noopener" target="_blank">read our privacy notice (opens in new tab)</a>.</p>
        </div>
      </details>
      {{ govukButton({
      text: "Start"
      }) }}
      <p><a class="govuk-link" href="../ipv-core/kbv-drop-off-buffer">I need to prove my identity another way</a></p>
    </form>
  </div>
</div>

{% endblock %}
