{% extends "layouts/main.html" %}

{% block pageTitle %}
Sorry, there is a problem
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form class="form" action="#" method="post">
			<h1 class="govuk-heading-l">Sorry, there is a problem</h1>
			<p>We cannot prove your identity right now.</p>
			<h2 class="govuk-heading-m">What you can do</h2>
			<p>Go back to the service you were trying to use and start again. You can look for the service using your search engine or find it from the GOV.UK homepage.</p>
			<button class="govuk-button" data-module="govuk-button">Go to the GOV.UK homepage</button>
			<p><a href="#" class="govuk-link">Contact the GOV.UK account team (opens in a new tab)</a></p>
		</form>
	</div>
</div>

{% endblock %}
