{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell us if you have access to an iPhone or Android phone - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Use the GOV.UK One Login app to prove your identity</h1>
    <p>If you already have the app installed, open it now.</p>
    <h2 class="govuk-heading-m">What to expect</h2>
    <p>The GOV.UK One Login app works by matching your face to your photo ID. </p>
	<p>There will be instructions on what you need to do at each step.</p>
	<details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          The app uses a face scan with flashing colours
        </span>
      </summary>
      <div class="govuk-details__text">
		<p>The face scan checks that you’re a real person. It uses different colours that change less than 3 times per second.</p>
		<p>You can <a href="#">prove your identity another way if you think you might be sensitive to flashing colours</a>.</p>
      </div>
    </details>
	<form action="../pyi/app-complete" method="post">
		<button class="govuk-button">Download GOV.UK One Login</button>
	</form>
	<details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help downloading the app
        </span>
      </summary>
      <div class="govuk-details__text">
		<ol>
			<li>Tap the ‘Download GOV.UK One Login’ button to go to the App Store (for iPhone) or Play Store (for Android).</li>
			<li>Download the GOV.UK One Login app.</li>
		</ol>
      </div>
    </details>
	<details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I’d prefer not to use the app
        </span>
      </summary>
      <div class="govuk-details__text">
		<p>If you’d prefer not to use the app, you may be able to <a href="#">prove your identity another way</a>.</p>
      </div>
    </details>
	<p><a href="#">Contact the GOV.UK One Login team (opens in a new tab)</a></p>
  </div>
</div>
{% endblock %}
