{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell us if you have access to an iPhone or Android phone - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Use the GOV.UK One Login app to prove your identity</h1>
    <p>The GOV.UK One Login app works by matching your face to your photo ID.</p>
	<p>First you will need to download, open and use the app. Then you will come back to this page to finish proving your identity. </p>
    <h2 class="govuk-heading-m">1. Download the GOV.UK One Login app</h2>
    <p>Scan the QR code with your smartphone to download the GOV.UK One Login app. </p>
	{{ govukWarningText({
		text: "The app uses a face scan with flashing colours",
		iconFallbackText: "Warning"
	}) }}
	<img src="/public/images/app-download-qr-code.png" class="govuk-!-margin-bottom-6" width="200px">
	<h3 class="govuk-heading-s">Help using the GOV.UK One Login app</h3>
	<details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to scan a QR code
        </span>
      </summary>
      <div class="govuk-details__text">
		<ol>
			<li>Open the camera app on your phone.</li>
			<li>Position your camera over the QR code.</li>
			<li>Wait until the QR code is recognised by your camera and a link appears on your screen. </li>
			<li>Tap the link to go to the App Store (for iPhone) or Play Store (for Android).</li>
			<li>Download the GOV.UK One Login app.</li>
		</ol>
      </div>
    </details>
	<details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to download the app without a QR code
        </span>
      </summary>
      <div class="govuk-details__text">
		<ol>
			<li>Keep this page open. </li>
			<li>On your phone, open the App Store (for iPhone) or Play Store (for Android).</li>
			<li>Search for the ‘GOV.UK One Login’ app.</li>
			<li>Download the GOV.UK One Login app. </li>
		</ol>
      </div>
    </details>
	<details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I am sensitive to flashing colours
        </span>
      </summary>
      <div class="govuk-details__text">
		<p>The face scan checks that you’re a real person. It uses different colours that change less than 3 times per second.</p>
		<p>You can <a href="#">prove your identity another way if you think you might be sensitive to flashing colours</a>.</p>
      </div>
    </details>
	<details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I’d prefer not to use the app
        </span>
      </summary>
      <div class="govuk-details__text">
		<p>If you’d prefer not to use the app, you may be able to <a href="#">prove your identity another way</a>.</p>
      </div>
    </details>
	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
	<h2 class="govuk-heading-m">2. Open the GOV.UK One Login app</h2>
    <p>Follow the instructions in the app to prove your identity. Keep this page open while you do this.</p>
	<div class="spinner-container">
		<div class="hods-loading-spinner">
		<div class="hods-loading-spinner__spinner" aria-live="polite" role="status"></div>
		<div class="hods-loading-spinner__content">
			<p>In progress</p>
		</div>
    </div>
	</div>
	
	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
	<h2 class="govuk-heading-m">3. Finish proving your identity here</h2>
    <p>If we successfully match your face to your photo ID, you’ll finish proving your identity online.</p>
	<p>Then you can continue to the government service you want to use. </p>
	<p>If this page has not updated once you've finished using the app, you can <a href="#">refresh the page</a>.</p>
	<form action="../pyi/app-complete" method="post">
		<button class="govuk-button">Continue</button>
	</form>



  </div>
</div>
{% endblock %}
