{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK account: report a problem or give feedback
{% endblock %}

{% block header %}
{% include "../support/_includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="support-start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="support-account-post" method="post">
        <h1 class="govuk-heading-l">
          A problem creating a GOV.UK One Login
        </h1>
        <!-- I haven't updated any of the routing for this - 
          just added new radio options in with placeholder names and IDs -->
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "support-account",
          name: "support-account",
          fieldset: {
            legend: {
              text: "Tell us what happened",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "no-security-code",
              text: "You did not get a security code",
              checked: checked("support-account", "no-security-code")
            },
            {
              value: "code-didnt-work",
              text: "The security code did not work",
              checked: checked("support-account", "code-didnt-work")
            }, {
              value: "problem-phone",
              text: "You had another problem with a phone number",
              checked: checked("support-account", "problem-phone")
            }, {
              value: "problem-auth-app",
              text: "You had a problem with an authenticator app",
              checked: checked("support-account", "problem-auth-app")
            }, {
              value: "technical",
              text: "There was a technical problem (for example, the service was unavailable)",
              checked: checked("support-account", "technical")
            },
            {
              value: "something-else",
              text: "Something else",
              checked: checked("support-account", "something-else")
            }
          ]
        }) }}

        <button id="button" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}
