{% extends "layouts/main.html" %}

{% block pageTitle %}
If your driving licence details are not correct - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">If your driving licence details are not correct</h1>
    <p>You can scan your UK photocard driving licence in the GOV.UK ID Check app again.</p>
    <p>Make sure your driving licence does not have any dirt or scratches on the front.</p>
    <p>When you scan your driving licence, make sure you’re in a well-lit area with no glare or reflection on your licence.</p>
    <form class="form" action="dl-incorrect" method="post">
      {{ govukRadios({
        name: "dl-incorrect",
        idPrefix: "dl-incorrect",
        fieldset: {
          legend: {
          text: "What would you like to do?",
          classes: "govuk-fieldset__legend--m"}
        },
        items: [{
          value: "again",
          text: "Scan your UK photocard driving licence in the GOV.UK ID Check app again",
          hint: {
            text: "You’ll need to answer a few questions again before you can open the app"
          }
          },
          {
          value: "another way",
          text: "Prove your identity another way"
          }]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      document.getElementById('button2').click()
    }, 2000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
</script>

{% endblock %}
