{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity at a Post Office with one of the following types of photo ID - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Prove your identity at a Post Office with one of the following types of photo ID</h1>
        <p class="govuk-body">Based on what you told us, you cannot prove your identity online.</br> If you have any of the following types of photo ID, you can prove your identity at a Post Office instead.</p>

        <h2 class="govuk-heading-m">European Union (EU) photocard driving licence</h2>

        <p class="govuk-body">You can use an EU driving licence if:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>it is a plastic photocard, not a paper or handwritten licence</li>
            <li>it has not expired</li>
            <li>the address on it is the same as your current address (if it has an address)</li>
        </ul>
        <h2 class="govuk-heading-m">Non-UK passport</h2>
        <p>You can use a non-UK passport as long as it has not expired.</p>
        <h2 class="govuk-heading-m">National identity card from a European Economic Area country</h2>
        <p>You can use a national identity card from a European Economic Area (EEA) country if:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>it is a plastic photocard, not a paper or handwritten card</li>
            <li>it has not expired</li>
            <li>the address on it is the same as your current address (if it has an address)</li>
        </ul>
        <p>The EEA includes EU countries, Norway, Iceland and Liechtenstein.</p>
  
        <form class="form" action="f2f-screener" method="post">
            {% from "govuk/components/radios/macro.njk" import govukRadios %}
            {{ govukRadios({
            name: "f2f-screener",
            idPrefix: "f2f-screener",
            fieldset: {
            legend: {
            text: "Do you have any of these types of photo ID?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
            }
            },
            items: [
            {
            value: "yes",
            text: "Yes"
            },
            {
            value: "no",
            text: "No - prove my identity another way"
            }
            ]
            }) }}

            <button id="button2" class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}
