{% extends "layouts/main.html" %}

{% block pageTitle %}
Sorry, you’ll need to prove your identity another way - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- If the user selected they didn't have photo ID, then this shows -->
    {% if (data['photo-id'] == "no") %}

    <h1 class="govuk-heading-l">Sorry, we cannot prove your identity this way</h1>

    <p>This is because you did not answer some of the security questions correctly.</p>

    <h2 class="govuk-heading-m">If you do not have photo ID</h2>
    <p>You can go to the service you need to use and see what you can do if you cannot prove your identity with GOV.UK One Login.</p>
    <h2 class="govuk-heading-m">If you have photo ID</h2>
    <p>You can use photo ID to prove your identity using the GOV.UK ID Check app or at a Post Office.</p>
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Types of photo ID you can use
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>For the GOV.UK ID Check app, you can use a:</p>
        <ul>
          <li>UK photocard driving licence</li>
          <li>UK passport</li>
          <li>non-UK passport with a biometric chip</li>
          <li>UK biometric residence permit (BRP)</li>
          <li>UK biometric residence card (BRC)</li>
          <li>UK Frontier Worker permit</li>
        </ul>
        <p>You can use an expired BRP, BRC or FWP up to 18 months after its expiry date with the GOV.UK ID Check app.</p>
        <p>At a Post Office, you can use a:</p>
        <ul>
          <li>UK photocard driving licence</li>
          <li>European Union (EU) photocard driving licence</li>
          <li>UK passport</li>
          <li>non-UK passport</li>
          <li>National identity card from a European Economic Area (EEA) country</li>
        </ul>
        <p>At a Post Office, your photo ID must not have expired, unless you have a UK passport. You can use a UK passport up to 18 months after its expiry date.</p>
      </div>
    </details>
    
    <form class="form" action="kbv-fail" method="post">
      {{ govukRadios({
        name: "kbv-fail",
        idPrefix: "kbv-fail",
        fieldset: {
          legend: {
          text: "What would you like to do?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"}
        },
        items: [{
          value: "app",
          text: "Prove your identity with the GOV.UK ID Check app",
          hint: {
            text: "You’ll be shown how to download and use the app."
            }
          },
          {
            value: "post office",
            text: "Prove your identity at a Post Office",
            hint: {
              text: "You’ll be asked to enter details from your photo ID on GOV.UK first."
              }
            },
          {
          divider: "or"
          },
          {
            value: "return",
          text: "Go to the service you need to use and find out if they take other types of ID"
          }]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
    <p><a class="govuk-link" href="#">Contact the GOV.UK One Login team (opens in a new tab)</a></p>

    <!-- If the user selected they DO have photo ID, then this shows -->
    {% else %}

    <h1 class="govuk-heading-l">Sorry, we cannot prove your identity this way</h1>

    <p>This is because you did not answer some of the security questions correctly.</p>
    <p>You can prove your identity using the GOV.UK ID Check app or at a Post Office instead.</p>
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Types of photo ID you can use
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>For the GOV.UK ID Check app, you can use a:</p>
        <ul>
          <li>UK photocard driving licence</li>
          <li>UK passport</li>
          <li>non-UK passport with a biometric chip</li>
          <li>UK biometric residence permit (BRP)</li>
          <li>UK biometric residence card (BRC)</li>
          <li>UK Frontier Worker permit</li>
        </ul>
        <p>You can use an expired BRP, BRC or FWP up to 18 months after its expiry date with the GOV.UK ID Check app.</p>
        <p>At a Post Office, you can use a:</p>
        <ul>
          <li>UK photocard driving licence</li>
          <li>European Union (EU) photocard driving licence</li>
          <li>UK passport</li>
          <li>non-UK passport</li>
          <li>National identity card from a European Economic Area (EEA) country</li>
        </ul>
        <p>At a Post Office, your photo ID must not have expired, unless you have a UK passport. You can use a UK passport up to 18 months after its expiry date.</p>
      </div>
    </details>

    <form class="form" action="kbv-fail" method="post">
      {{ govukRadios({
        name: "kbv-fail",
        idPrefix: "kbv-fail",
        fieldset: {
          legend: {
          text: "How would you like to prove your identity?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"}
        },
        items: [{
          value: "app",
          text: "Prove your identity with the GOV.UK ID Check app ",
          hint: {
            text: "You’ll be shown how to download and use the app."
            }
          },
          {
          value: "post office",
          text: "Prove your identity at a Post Office",
          hint: {
            text: "You’ll be asked to enter details from your photo ID on GOV.UK first."
            }
          }]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
    <p><a class="govuk-link" href="#">Contact the GOV.UK One Login team (opens in a new tab)</a></p>

    {% endif %}
  </div>
</div>

{% endblock %}
