{% extends "layouts/main.html" %}

{% block pageTitle %}
Answer security questions - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../kbv-cri/dwp-spinner" method="post">
      <h1 class="govuk-heading-l">Answer security questions</h1>
      <p>We use security questions as the last step in checking your identity. </p>
      <p>The questions are about information that’s personal to you. This stops other people from pretending to be you.</p>
      <p>The questions use information from the Department for Work and Pensions (DWP).</p>
      <p>You must answer enough questions correctly to prove your identity. You can then continue to the service you need to use.</p>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>You’ll need information from the bank or building society account that your PIP is paid into. </p>
      <p>You can get this information from your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>most recent statement</li>
        <li>online account or banking app</li>
      </ul>
      <p>You may also need the letter from the DWP saying that you were awarded PIP.</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How we use your details
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>We will not keep your answers to the security questions or share them with the service you need to use.</p>
          <p>If you'd like to know more about how your details will be used to prove your identity, <a href="https://signin.account.gov.uk/privacy-notice" class="govuk-link" rel="noreferrer noopener" target="_blank">read our privacy notice (opens in new tab)</a></p>
        </div>
      </details>
      <button id="button" class="govuk-button" data-module="govuk-button">Start</button>
    </form>
    <p><a href="kbv-drop-off">I need to prove my identity another way</a></p>
    <div class="govuk-notification-banner govuk-notification-banner--journey-options govuk-!-margin-top-9" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Prototype options
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p><a href="../ipv-core/kbv-different-security-questions" class="govuk-link govuk-link--no-visited-state">Not enough PIP questions</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
