{% extends "layouts/main.html" %}

{% block pageTitle %}
Go to a Post Office within 15 days to finish proving your identity - GOV.UK One Login
{% endblock %}

{% block beforeContent %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <style type="text/css">
    .govuk-panel--confirmation {
      background-color: #f3f2f1;
      color:#000000;

    }
  </style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Go to a Post Office within 15 days to finish proving your identity</h1>
      </div>
      <p class="govuk-body">You’ve been sent a confirmation email with a link to download your Post Office customer letter. If you asked us to, we'll also send your customer letter to you by post. </p>
      <p class="govuk-body">To finish proving your identity, you need to go to a Post Office that offers in-branch verification within the next 15 days. </p>
      {{ govukInsetText({
        text: "If you do not go to a Post Office within the next 15 days, you’ll need to start proving your identity again."
      }) }}
      <h2 class="govuk-heading-m">What you need to take to a Post Office</h2>
      <p>When you go to a Post Office, you must take:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your Post Office customer letter</li>
        <li>the photo ID shown on your Post Office customer letter</li>
      </ul>
      <h2 class="govuk-heading-m">Which Post Office to go to</h2>
      <p class="govuk-body">Your customer letter shows which Post Office you chose to go to.  </p>
      <p>You can <a href="https://www.postoffice.co.uk/identity/in-branch-verification-service#bfSearchLabel" target="_blank">go to a different Post Office as long as it offers in-branch verification (opens in new tab)</a>.</p>
      <p>You do not need to contact the GOV.UK One Login team if you decide to go to a different Post Office.</p>
      <h2 class="govuk-heading-m">At the Post Office</h2>
      <p>You’ll need to show your Post Office customer letter on your phone or tablet, or take a printed copy with you. </p>
      <p>A member of Post Office staff will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>check your customer letter</li>
        <li>scan your photo ID</li>
        <li>take a photo of you</li>
      </ul>
      <h2 class="govuk-heading-m">After you've been to the Post Office</h2>
      <p>You’ll get an email about the result of your identity check - usually within a day of going to the Post Office.</p>
      <h2 class="govuk-heading-m">If you need help</h2>
      <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Contact the GOV.UK One Login support team (opens in new tab)</a></p>
      <div class="govuk-notification-banner govuk-notification-banner--journey-options govuk-!-margin-top-9" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Prototype options
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body"><a href="../f2f-cri/post-office-email" target=”_blank” attribute class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">View Post Office confirmation (opens in new tab)</a></p>
          <p class="govuk-body"><a href="https://www.figma.com/proto/LLHAyxXoT3t8gkBqPyi8QX/Letter-prototype?node-id=2-2&t=zE76NdsaThZobxmO-0&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=2%3A2&show-proto-sidebar=1&hide-ui=1" target=”_blank” attribute class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">View Post Office customer letter (opens in new tab)</a></p>
          <p class="govuk-body"><a href="../f2f-cri/post-office-results-email" target=”_blank” attribute class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">View Post Office success email (opens in new tab)</a></p>
          <p class="govuk-body"><a href="page-ipv-pending" attribute class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Pending results page</a></p>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}


