{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you sure you want to try to prove your identity another way? - GOV.UK One Login - GOV.UK
{% endblock %}

{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Are you sure you want to try to prove your identity another way?</h1>
    <p>There are other ways to prove your identity with GOV.UK One Login. The app may be the most suitable way if you have photo ID.</p>
    <form class="form" action="app-drop-off-buffer" method="post">
      {{ govukRadios({
        name: "app-drop-off-buffer",
        idPrefix: "app-drop-off-buffer",
        fieldset: {
          legend: {
          text: "What would you like to do?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"}
        },
        items: [{
          value: "another way",
          text: "Try to prove your identity another way",
          hint: {
            text: "If you change your mind and want to use the app, you’ll have to start again."
            }
          },
          {
          value: "back",
          text: "Go back and use the GOV.UK One Login app"
          }]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
