{% extends "layouts/main.html" %}

{% block pageTitle %}
What would you like to do? - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="nino-drop-off-buffer" method="post">
      {{ govukRadios({
        name: "nino-drop-off-buffer",
        idPrefix: "nino-drop-off-buffer",
        fieldset: {
          legend: {
          text: "What would you like to do?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"}
        },
        items: [{
          value: "another way",
          text: "Try to prove your identity another way",
          hint: {
            text: "Go back to the service you need to use or try photo ID."
            }
          },
          {
          value: "back",
          text: "Enter your National Insurance number and continue to prove your identity",
          hint: {
            text: "You can find it on your your payslip, P60 or benefit letters."
            }
          }]
      }) }}
      {{ govukWarningText({
          text: "You cannot return to this screen if you look for another way to prove your identity.",
          iconFallbackText: "Warning"
        }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
