{% extends "layouts/main.html" %}

{% block pageTitle %}
Find another way to prove your identity - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Find another way to prove your identity</h1>
    <h2 class="govuk-heading-m">If you do not have photo ID</h2>
    <p>You can try proving your identity with the service you need to use. They may take other types of ID.</p>
    <h2 class="govuk-heading-m">If you have photo ID</h2>
    <p>You can use photo ID to prove your identity using the GOV.UK ID Check app or at a Post Office.</p>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Types of photo ID you can use
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>You can use a:</p>
        <ul>
          <li>UK photocard driving licence</li>
          <li>European Union (EU) photocard driving licence</li>
          <li>UK passport</li>
          <li>non-UK passport </li>
          <li>National identity card from a European Economic Area (EEA) country</li>
          <li>UK biometric residence permit (BRP)</li>
          <li>UK biometric residence card (BRC)</li>
          <li>UK Frontier Worker permit</li>
        </ul>
      </div>
    </details>
    <form class="form" action="bank-drop-off" method="post">
      {{ govukRadios({
        name: "bank-drop-off",
        idPrefix: "bank-drop-off",
        fieldset: {
          legend: {
          text: "What would you like to do?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"}
        },
        items: [{
          value: "return",
          text: "Go to the service you need to use and find out if they take other types of ID"
          },
          {
          value: "app",
          text: "Use photo ID to prove your identity with GOV.UK One Login"
          },
          {
          divider: "or"
          },
          {
          value: "back",
          text: "Go back and try using your bank details to prove your identity"
          }]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
    <p><a class="govuk-link" href="#">Contact the GOV.UK One Login team (opens in a new tab)</a></p>
  </div>
</div>

{% endblock %}
