{% extends "layouts/main.html" %}

{% block pageTitle %}
You have not finished proving your identity - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      You have not finished proving your identity
    </h1>
    <p>You need to go to a Post Office that offers in-branch verification to finish proving your identity. </p>
    <p>You should have received a confirmation email explaining what to take with you and what will happen at the Post Office. Check the letter in your confirmation email.</p>
    <h2 class="govuk-heading-m">
      If you’ve already been to the Post Office
    </h2>
    <p>Your identity check is still being processed.</p>
    <p>You’ll get an email when there's a result for your identity check - usually within a day of going to the Post Office.</p>
    <h2 class="govuk-heading-m">
      If you need help
    </h2>
    <p>Contact us if you:</p>
    <ul class="govuk-list govuk-list--bullet govuk-body">
      <li>need help to finish proving your identity with the Post Office</li>
      <li>would prefer not to go to the Post Office and want to prove your identity another way</li>
    </ul>
    <p><a href="#">Contact the GOV.UK One Login team (opens in a new tab)</a></p>
  </div>
</div>

{% endblock %}
