{% extends "layouts/main.html" %}

{% block pageTitle %}
Continue to the service you want to use - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      You have proved your identity and can continue
    </h1>
    <p class="govuk-body">
      Your secure GOV.UK One Login is set up and ready to use. Use it now to
      finish what you wanted to do.
    </p>
    <p class="govuk-body">
      Tip: in future, use this to quickly sign in to many other government
      services.
    </p>

    <!-- create a box around the survey and give it a landmark role with a custom name -->

   
    <div class="temporary-box" role="complementary" aria-label="Give optional feedback">
      <h2 class="govuk-heading-m">Give optional feedback</h2>
      <p class="govuk-body">
        Your feedback will be sent when you continue to the service.
      </p>
      {% from "govuk/components/radios/macro.njk" import govukRadios %} {{
      govukRadios({ name: "howEasy", fieldset: { legend: { text: "How easy was
      it to prove your identity?", isPageHeading: false, classes:
      "govuk-fieldset__legend" } }, items: [ { value: "very-easy", text: "
      Very easy" }, { value: "easy", text: "Easy" }, { value: "average", text: "Average" }, { value: "hard", text: "Hard" },
      { value: "very-hard", text: "Very hard" } ] }) }} {% from
      "govuk/components/textarea/macro.njk" import govukTextarea %} {{
      govukTextarea({ name: "more-detail", id: "more-detail", label: { text:
      "How can we improve GOV.UK One Login?", classes: "govuk-label--s",
      isPageHeading: false } }) }}
    </div>

    <h2 class="govuk-heading-m">Now, finish what you wanted to do</h2>
    <p class="govuk-body">
      Use your GOV.UK One Login to continue and sign in to what you wanted to
      access.
    </p>

    <form action="../service/dbs-service-continue" method="post">
      <button class="govuk-button">Continue to the service</button>
    </form>

  </div>
</div>
{% endblock %}



{% block pageScripts %}
<script>

</script>
{% endblock %}






