{% extends "layouts/main.html" %}

{% block pageTitle %}
Sorry, you’ll need to prove your identity another way - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, you’ll need to prove your identity another way</h1>
    <p>We could not find a match when we checked your UK passport details.</p>
    <form class="form" action="passport-fail" method="post">
      {{ govukRadios({
        name: "passport-fail",
        idPrefix: "passport-fail",
        fieldset: {
          legend: {
          text: "How would you like to continue?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"}
        },
        items: [{
          value: "driving licence",
          text: "Enter your UK photocard driving licence details instead and answer security questions"
          },
          {
          value: "another way",
          text: "Prove your identity another way",
          hint: {
            text: "Continue to the service you were trying to use to find out if there are other ways to access it."
            }
          }]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
