{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity another way - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Prove your identity by signing in to your online banking</h1>
    <p>You can continue proving your identity online by providing some personal details.  </p>
    <p>You’ll also need to share information from your bank or building society account.   </p>
    <p>We do this to stop anyone who might have your details from pretending to be you. </p>
    <h2 class="govuk-heading-m">Provide some personal details</h2>
    <p>We’ll ask you for your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>name as it appears on your bank or building society account</li>
      <li>National Insurance number</li>
      <li>current address (you might also need your previous address if you’ve recently moved)</li>
    </ul>
    <h2 class="govuk-heading-m">Share information from your bank account</h2>
    <p>When we ask you to, you’ll need to sign in to your online banking to share some information. This is called ‘open banking’. </p>
    <form class="form" action="bank-account" method="post">
      {{ govukRadios({
      classes: "govuk-radios",
      name: "bank-account",
      idPrefix: "bank-account",
      fieldset: {
        legend: {
          text: "Do you have a UK bank or building society current account in your name?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No - prove my identity another way"
        }
      ]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
