{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity another way - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


    <form class="form" action="bank-account" method="post">
      {{ govukRadios({
      classes: "govuk-radios",
      name: "bank-account",
      idPrefix: "bank-account",
      fieldset: {
        legend: {
          text: "Do you have a National Insurance number?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
    
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
