{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity another way - GOV.UK One Login - GOV.UK
{% endblock %}


{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


    <form class="form" action="open-banking-introduction-no-id" method="post">
      {{ govukRadios({
      classes: "govuk-radios",
      name: "bank-account",
      idPrefix: "bank-account",
      fieldset: {
        legend: {
          text: "Do you use online banking?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "You can prove your identity online using your photo ID if you have online banking."
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
