{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity by signing in to your online banking
{% endblock %}

{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

<style>.govuk-inset-text {
  background-color: #F3F2F1;
  border-left: none; /* Or set to a transparent color if needed */
  padding-top: 15px; /* Adjust this value to reduce the top padding */
  margin-top: 5px; /* Adjust this value to reduce the top margin */
}</style>


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../claimed-identity-cri/enter-name" method="post">

        
        <h1 class="govuk-heading-l">Prove your identity online</h1>

  
        <p class="govuk-body">We’ll walk you through what to do. You’ll need a UK bank or building society account and National Insurance number.</p>

     

        <ol class="radio__border govuk-list">
          <h2 class="govuk-heading-m">Steps to prove your identity</h2>
    
        <li class="l3__list">
          <div class="container">
            <img src="/public/images/no-photo-id.svg" alt="" />
            <div class="text__container">
              <h2 class="govuk-heading-s small__override">1. Enter some details/h2>
              <p>Including National Insurance number.</p>
            </div>
          </div>
        </li>
        <hr class="govuk-!-margin-bottom-2 grey-border">
        <li class="l3__list">
          <div class="container">
            <img  src="/public/images/address.svg" alt="" />
             <div class="text__container">
              <h2 class="govuk-heading-s small__override">2. Enter address</h2>
              <p>Include previous address if recently moved.</p>
            </div>
            </div>
        </li>
        <hr class="govuk-!-margin-bottom-2 grey-border">
        <p class="govuk-hint govuk-!-margin-top-3">Use your bank account for steps 3 and 4.</p>
        <li class="l3__list1">
          <div class="container">
            <img src="/public/images/open-banking.svg" alt="" />
            <div class="text__container">
              <h2 class="govuk-heading-s small__override">3. Sign in to online banking</h2>
              <p>Can be app or bank website.</p>
            </div>
            </div>
            <hr class="govuk-!-margin-bottom-2 grey-border">
            <li class="l3__list">
              <div class="container">
                <img  src="/public/images/details-checked.svg" alt="" />
                 <div class="text__container">
                  <h2 class="govuk-heading-s small__override">4. Details checked securely</h2>
                  <p>Bank confirms information you gave us.</p>
                </div>
                </div>
            </li>
            
            <div class="govuk-inset-text">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How does banking prove my identity?
                </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">
                    <p>Banks have very strong security, so when you sign in, they know it’s really you.</p>
                    <p>The bank can then confirm the details you give us, to help us be sure you are who you say you are.</p>
                    <h4>Your information is secure</h4>
                    <p>You'll see what information is checked or shared. </p>
                    <p>We cannot see your sign-in details or take payments. </p>
                  </p>
                </div>
              </details>
            </div>
        </li>
      </ol>
   
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    
        <p class="govuk-body">
          <a href="" class="govuk-link govuk-link--no-visited-state">I’d prefer to prove my identity another way</a>
       </p>

    </div>
  </div>

{% endblock %}