{% extends "layouts/main.html" %}

{% block pageTitle %}
How do you want to sign in to your bank account?
{% endblock %}

{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        How do you want to sign in to your bank account?
      </h1>

      <form class="form" action="banking-method" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="bank-login-hint">
            <div class="govuk-radios" data-module="govuk-radios">
              <!-- use phone or tablet -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bank-login" name="bank-login" type="radio" value="qr-code" aria-describedby="bank-login-item-hint">
                <label class="govuk-label govuk-radios__label" for="bank-login">
                    Use your phone or tablet and scan a QR code  
                  <div id="event-name-hint" class="govuk-hint">
                    You can use your bank’s app or mobile website to prove your identity. 
                  </div>
                </label>
              </div>
      
              <!-- stay on website -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bank-login-2" name="bank-login" type="radio" value="bank-website" aria-describedby="bank-login-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="bank-login">
                    Stay on this device and use your bank’s website
                    <div id="event-name-hint" class="govuk-hint">
                        When you continue, you’ll be sent to your bank’s website.
                      </div>
                </label>
              </div>

                    <br>
              <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>

            </div> <!-- /. govuk-radios -->
          </fieldset> <!-- /. govuk-fieldset -->
        </div> <!-- /. govuk-form-group -->
      </form> <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
  </div> <!-- /. govuk-grid-row -->
  
  {% endblock %}


