{% extends "layouts/main.html" %}

{% block pageTitle %}
Finish proving your identity by signing in to your online banking
{% endblock %}

{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../banking-cri/what-bank" method="post">
      <h1 class="govuk-heading-l">Finish proving your identity by signing in to your online banking</h1>
    
      <p class="govuk-body">You’ll need to use a UK bank or building society account that’s: </p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
          a current account, not a savings account
        </li>
        <li>
          in your name (it can be a joint account)
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How does online banking prove my identity?
          </span>
          
        </summary>
        <div class="govuk-details__text">
          Signing in to online banking can help us be sure you are who you say you are. <br><br>

          This is because banks have very strong security, so they can be sure it is you signing in, not someone with your details pretending to be you. <br><br>
          
          Your bank will confirm the information you’ve given us to prove your identity.
        </div>
       
      </details>
      <p class="govuk-body">Before you sign in, we’ll ask for your approval to share information from your account. </p>
      <h2 class="govuk-heading-m">How your information is shared</h2>
      <p class="govuk-body">We use 2 companies to help us check your account information and confirm your identity: </p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
          Ecospend
        </li>
        <li>
          Experian
        </li>
      </ul>
      

      <p class="govuk-body"> Both are regulated by the <a href=""> Financial Conduct Authority (opens in a new tab). </a> </p>


      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Continue</button>
    </form>
    <p><a class="govuk-link" href="">Choose another way to prove your identity </a> </p>
  </div>
</div>


{% endblock %}
