{% extends "layouts/main.html" %}

{% block pageTitle %}
Share information from your bank account
{% endblock %}

{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="what-bank" method="post">
      <h1 class="govuk-heading-l">Agree to share information from your bank or building society account</h1>
      <p>We use 2 companies to help us check your account information and confirm your identity: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Crosina Capital</li>
        <li>Judentia</li>
        
      </ul>
  <p>Both are regulated by the <a href="">Financial Conduct Authority (opens in a new tab)</a>. </p>
      <h2 class="govuk-heading-m">
        Information that’s shared with Crosina Capital and Judentia
      </h2>
      <p class="govuk-body">Your bank will share your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>date of birth</li>
        <li>account number</li>
        <li>sort code</li>
        <li>recent transactions, to confirm that your account has been active in the past 3 months (we will not see details of the transactions)</li>
      </ul>
  
      <h2 class="govuk-heading-m">
        Information that’s not shared
      </h2>
      <p class="govuk-body">Crosina Capital and Judentia will not:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have access to your online banking sign-in details</li>
        <li>use your information to take payments</li>
        
      </ul>
      <p>None of your bank account information will be shared with the government service you’re using.</p>
      <h2 class="govuk-heading-m">
        Give approval for your bank account information to be shared
      </h2>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            
          <input class="govuk-checkboxes__input" id="consent" name="consent" type="checkbox" value="consent" data-aria-controls="conditional-contact">
          
          <label class="govuk-label govuk-checkboxes__label" for="consent">
            I agree to my bank account information being shared with Crosina Capital and Judentia
          </label>

        </div>
      </div>
      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Continue</button>
    </form>
    <p><a class="govuk-link" href="">Choose another way to prove your identity </a> </p>
  </div>
</div>


{% endblock %}
