{% extends "layouts/main.html" %}

{% block pageTitle %}
Continue proving your identity with open banking
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post">
      <h1 class="govuk-heading-l">Continue to the service you need to use</h1>
      <p>You’ve successfully proved your identity. You can now continue to the service you need to use.</p>
      <p>Some of the information you shared when you proved your identity might be used to automatically fill in forms within the service.</p>
      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>


{% endblock %}
