{% extends "layouts/main.html" %}

{% block pageTitle %}
Share information from your bank account
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="open-banking-device-post" method="post">
      <h1 class="govuk-heading-l">Share information from your bank account</h1>
      <p>You’ll need to share your: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>address</li>
        <li>account number and sort code</li>
        <li>transaction history for the past 3 months</li>
      </ul>
      <p>Once you’ve signed in to your online banking and you’ve chosen the account you want to share, your information will be shared automatically.   </p>
      <h2 class="govuk-heading-m">
        Who you’ll be sharing your information with
      </h2>
      <p>We use a company called Crosina Capital to check your account information. Crosina Capital is regulated by the<a class="govuk-link" href=""> Financial Conduct Authority (opens in a new tab). </a> </p>
      <p>Crosina Capital and GOV.UK cannot see your bank sign in details. </p>
      <div class="govuk-inset-text">
        We will not use your account information to take any payments. 
      </div>
      <p>You will be sharing your details until 11 June 2025.</p>
      <h2 class="govuk-heading-m">
        Allow Crosina Capital to check your bank account information
      </h2>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="consent" name="consent" type="checkbox" value="consent" data-aria-controls="conditional-contact">
          
          <label class="govuk-label govuk-checkboxes__label" for="consent">
            I give Crosina Capital permission to check my bank account information
          </label>
        </div>
      </div>
      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Continue</button>
    </form>
    <p><a class="govuk-link" href="">Choose another way to prove your identity </a> </p>
  </div>
</div>


{% endblock %}
