{% extends "layouts/main.html" %}

{% block pageTitle %}
Scan the QR code to prove your identity with your bank account 
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../banking-cri/what-bank" method="post">
      <h1 class="govuk-heading-l">Scan the QR code to prove your identity by signing in to your online banking</h1>

      <ol class="govuk-list govuk-list--number">
        <li>Open the camera app on your phone or tablet.</li>
        <li>Position your camera over the QR code. Wait until your camera recognises the QR code and a link appears on your screen. </li>
        <img src="/public/images/open-banking-qr-code.png" alt="Bank logo" />
        <li>Tap the link on your screen to open your bank’s app or website so you can continue proving your identity.  <br> </br>This page will automatically update once you scan the QR code. You can  <a href="qr-code-success">refresh the page if it doesn’t update.</a></li>
      </ol>

      <div class="govuk-inset-text">
        <p> If you have a problem using the QR code, you can <a href="fake-bank-desktop-login">stay on this device and use your bank’s website.</a> </p>
       <p>For help, <a href="">contact the GOV.UK One Login team (opens in a new tab).</a></p>
      </div>

    </form>
  </div>
</div>


{% endblock %}
