{% extends "layouts/main.html" %}

{% block pageTitle %}
Share information from your bank account
{% endblock %}

{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="open-banking-device-post" method="post">
      <h1 class="govuk-heading-l">Agree to share information from your bank account </h1>
      <p>To prove your identity using open banking, you need to share some information with Ecospend.  </p>
      <p>This is to check your account is real and protect against fraud.    </p>
      <h2 class="govuk-heading-m">
        Information that’s shared 
      </h2>
      <p class="govuk-body">Ecospend will have one-off access to check:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your account number and sort code</li>
        <li>that your account is active (by confirming there are recent transactions - they will not share details of the transactions)</li>
      </ul>
      <div class="govuk-inset-text">
        Your information will be securely deleted after the check is complete.
      </div>
    
      <h2 class="govuk-heading-m">
        Information that’s not shared
      </h2>
      <p class="govuk-body">Ecospend will not:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>see your online banking sign-in details</li>
        <li>use your information to take payments</li>
        
      </ul>
      <p>None of your bank account information will be shared with the government service you’re using.</p>


      <h2 class="govuk-heading-m">
        Give approval for your bank account information to be shared
      </h2>

      <p class="govuk-body"><a href=""> Our privacy notice (opens in new tab) </a> has more detail about how your information will be used. </p>

      
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            
          <input class="govuk-checkboxes__input" id="consent" name="consent" type="checkbox" value="consent" data-aria-controls="conditional-contact">
          
          <label class="govuk-label govuk-checkboxes__label" for="consent">
            I agree to my bank account information being shared with Ecospend
          </label>

        </div>
      </div>
      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Continue</button>
    </form>
    <p><a class="govuk-link" href="">Prove your identity another way</a> </p>
  </div>
</div>


{% endblock %}
