{% extends "layouts/main.html" %}

{% block pageTitle %}
Finish proving your identity by signing in to your online banking
{% endblock %}

{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../banking-cri/what-bank" method="post">
      <h1 class="govuk-heading-l">Finish proving your identity by signing in to your online banking</h1>
    
      <p class="govuk-body">Your account must be: </p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
          a current account, not a savings account, credit card account or other type of account
        </li>
        <li>
          in your name (you can use a joint account)
        </li>
      
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How does online banking prove my identity?
          </span>
          
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Banks have very strong security, so when you sign in, they know it’s really you. </p>
          <p class="govuk-body">The bank can then confirm the details you gave us, to help us be sure you are who you say you are. </p>
        </div>
       
      </details>

      <h2 class="govuk-heading-m">Before you sign in </h2>
      <p class="govuk-body">We’ll ask for your approval to share information from your account with a company called Ecospend. </p>
      <p class="govuk-body">This is so we can securely connect with your bank and confirm your identity. You’ll see what information will be shared with Ecospend before you agree to it. </p>
      <p class="govuk-body">Our  <a href=""> privacy notice (opens in new tab)  </a> has more detail about how your information will be used. </p>
      <p class="govuk-body">Ecospend is regulated by the  <a href=""> Financial Conduct Authority (opens in a new tab). </a> </p>


      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Continue</button>
    </form>
    <p><a class="govuk-link" href="">Prove your identity another way </a> </p>
  </div>
</div>


{% endblock %}
