{% extends "layouts/main.html" %}

{% block pageTitle %}
You have scanned a QR code to prove your identity using your bank account 
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../banking-cri/what-bank" method="post">
      <h1 class="govuk-heading-l">You have scanned a QR code to prove your identity using your bank account </h1>
      <p>This page will update when you’ve proved your identity on your mobile or tablet device.</p>
      <p> You can  <a href="account-consent">refresh the page if it doesn’t update.</a></p>
     
      <div class="govuk-inset-text">
      
        <p> If you have a problem using the QR code, you can <a href="fake-bank-desktop-login">stay on this device and use your bank’s website.</a> </p>
       <p>For help, <a href="">contact the GOV.UK One Login team (opens in a new tab).</a></p>
      </div>


    </form>
  </div>
</div>


{% endblock %}
