
{% extends "layouts/main.html" %}


{% block pageTitle %}
{{ heading or 'What is the name of your bank or building society?' }} - GOV.UK One Login - GOV.UK
{% endblock %}


{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="location">What is the name of your bank or building society?</label>
      </h1>
      <form class="form" action="open-banking-consent" method="post">
        <select class="govuk-select" id="location" name="location" data-module="autocomplete" data-autoselect="" data-display-menu="inline" data-min-length="" data-show-all-values="true" data-show-no-options-found="">
          <option value=""></option>
  
          <option value="Bank Of Ireland">Bank Of Ireland</option>
          <option value="Bank Of Ireland Business">Bank Of Ireland Business</option>
          <option value="Bank of Scotland">Bank of Scotland</option>
          <option value="Bank of Scotland Business">Bank of Scotland Business</option>
          <option value="Bank of Scotland Commercial">Bank of Scotland Commercial</option>
          <option value="Barclays">Barclays</option>
          <option value="Barclays Business">Barclays Business</option>
          <option value="Barclays Corporate">Barclays Corporate</option>
          <option value="Barclays Wealth">Barclays Wealth</option>
          <option value="Barclaycard">Barclaycard</option>
   
        
       
          <option value="Chelsea Building Society">Chelsea Building Society</option>
   

          <option value="First Direct">First Direct</option>
     
          <option value="Halifax">Halifax</option>
          <option value="HSBC">HSBC</option>
          
          <option value="Lloyds Personal">Lloyds</option>
          <option value="Lloyds Commercial">Lloyds Commercial</option>
          <option value="Lloyds Business">Lloyds Business</option>
          <option value="Nationwide Buidling Society">Nationwide Building Society</option>
          <option value="NatWest">NatWest</option>
          <option value="NatWest One Account">NatWest One Account</option>
          <option value="NatWest ClearSpend">NatWest ClearSpend</option>
     
          <option value="Royal Bank of Scotland">Royal Bank of Scotland</option>

          <option value="Santander">Santander</option>


        
          <option value="TSB Bank">TSB Bank</option>
  
          <option value="Yorkshire Building Society">Yorkshire Building Society</option>
     
        </select>
        <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>
      </form>
      <p><a class="govuk-link" href="">My bank is not listed </a> </p>
    </div>
  </div>
</div>


{% endblock %}






