{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your details exactly as they appear on your UK driving licence - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="photocard-authority">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter your details exactly as they appear on your UK driving licence
    </h1>
    <form class="form" action="../address-cri/find-current-address" method="post">
      <div class="govuk-inset-text">
        If you do not have a UK driving licence or you cannot remember your details, you can <a href="kbv-intro">prove your identity another way</a> instead.
      </div>

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name",
        name: "last-name",
        value: data['last-name'],
        spellcheck: false
      }) }}

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">Given names</legend>
        <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2" style="border-left-width: 4px;">

          {{ govukInput({
            label: {
              text: "First name"
            },
            hint: {
            text: "This is in section 2 of your licence. You do not need to include your title"
            },
            id: "first-name",
            name: "first-name",
            value: data['first-name'],
            autocomplete: "",
            spellcheck: false
          }) }}

          {{ govukInput({
            label: {
              text: "Middle names"
            },
            hint: {
            text: "Leave this blank if you do not have any middle names"
            },
            id: "middle-names",
            name: "middle-names",
            value: data['middle-names'],
            autocomplete: "",
            spellcheck: false
          }) }}

        </div>
      </fieldset>

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: " Date of birth"
          }
        },
        hint: {
          text: "For example, 5 9 1973"
        },
        items: [
          {
            name: "day",
            value: data['dob-day'],
            classes: "govuk-input--width-2",
            autocomplete: ""
          },
          {
            name: "month",
            value: data['dob-month'],
            classes: "govuk-input--width-2",
            autocomplete: ""
          },
          {
            name: "year",
            value: data['dob-year'],
            classes: "govuk-input--width-4",
            autocomplete: ""
          }
        ]
      }) }}

      {{ govukDateInput({
        id: "dl-issue",
        namePrefix: "dl-issue",
        fieldset: {
          legend: {
            text: "Issue date"
          }
        },
        hint: {
          text: "This is the date in section 4a of your licence, for example 27 5 2019"
        },
        items: [
          {
            name: "day",
            value: data['issue-day'],
            classes: "govuk-input--width-2",
            autocomplete: "issue-day"
          },
          {
            name: "month",
            value: data['issue-month'],
            classes: "govuk-input--width-2",
            autocomplete: "issue-month"
          },
          {
            name: "year",
            value: data['issue-year'],
            classes: "govuk-input--width-4",
            autocomplete: "issue-year"
          }
        ]
      }) }}

      {{ govukDateInput({
        id: "dl-expires",
        namePrefix: "dl-expires",
        fieldset: {
          legend: {
            text: "Valid to"
          }
        },
        hint: {
          text: "This is the date in section 4b of your licence, for example 27 5 2019"
        },
        items: [
          {
            name: "day",
            value: data['dl-expires-day'],
            classes: "govuk-input--width-2"
          },
          {
            name: "month",
            value: data['dl-expires-month'],
            classes: "govuk-input--width-2"
          },
          {
            name: "year",
            value: data['dl-expires-year'],
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="16">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="licence-number">
            Licence number
            </label>
          </h1>
          <div id="licence-number" class="govuk-hint">
            This is the long number in section 5 on your licence, for example HARRI559146MJ931
          </div>
          <input class="govuk-input" id="licence-number" name="licence-number" rows="5" aria-describedby="with-hint-info with-hint-hint"></input>
        </div>
      </div>

      {{ govukInput({
        label: {
          text: "Issue number"
        },
        classes: "govuk-input--width-10",
        hint: {
          text: "This is the 2 digit number after the space in section 5 of your licence."
        },
        id: "dl-issue-number",
        name: "dl-issue-number",
        value: data['dl-issue-number'],
        inputmode: "numeric",
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        hint: {
          text: "Enter the postcode in the address in section 8 of your licence."
        },
        id: "dl-postcode",
        name: "dl-postcode",
        value: data['dl-postcode'],
        spellcheck: false
      }) }}


      <h2 class="govuk-heading-m">
        Allow DVLA to check your driving licence details
      </h2>
      <p class="govuk-body">DVLA needs your permission to check your driving licence details before you can continue. They will make sure your licence has not been cancelled or reported as lost or stolen.</p>
      <p class="govuk-body">To find out more about how your driving licence details will be used, you can read:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#">the GOV.UK One Login privacy notice (opens in a new tab)</a>
        </li>
        <li>
          <a class="govuk-link" href="#">the DVLA privacy notice (opens in a new tab)</a>
        </li>
      </ul>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="consent" name="consent" type="checkbox" value="consent" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-checkboxes__label" for="consent">
            Give DVLA permission to check your driving licence details
          </label>
        </div>
      </div>
      <button id="button2" class="govuk-button govuk-visually-hidden" data-module="govuk-button">Continue</button>
      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Continue</button>
    </form>
    <div class="govuk-notification-banner govuk-notification-banner--journey-options govuk-!-margin-top-9" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Prototype options
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p><a href="enter-dvla-licence-details-retry" class="govuk-link govuk-link--no-visited-state">No match, retry</a></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      document.getElementById('button2').click()
    }, 2000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
</script>

{% endblock %}
