{% extends "layouts/main.html" %}

{% block pageTitle %}
You’ve  successfully changed your password 
{% endblock %}

{% block header %}
{% include "../authentication/_includes/header-auth-mvp.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      You’ve  successfully changed your password 
    </h1>
    <form class="form" action="signin-success" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}