{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm your details - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../nino-cri/enter-national-insurance-number" method="post">
      <h1 class="govuk-heading-l">Check your details match with your bank or building society account </h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['firstName'] }} {{ data['middleName'] }} {{ data['lastName'] or "Sarah Jones" }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sortCode'] or "12-34-56" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="enter-account-details">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['accountNumber'] or "10011001" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="enter-account-details">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
      </dl>
      <div class="govuk-inset-text">
        We will not use your account details to check or take any payments.
      </div>
      <button id="button2" class="govuk-button govuk-visually-hidden" data-module="govuk-button">Submit details for bank check</button>
        <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Submit details for bank check</button>
      <p><a href="how-to-continue-bank">I need to prove my identity another way</a></p>
    </form>
  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      document.getElementById('button2').click()
    }, 2000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
</script>

{% endblock %}
