{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose which photo ID you can take to a Post Office
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Choose which photo ID you can take to a Post Office</h1>
      <p>You cannot use a photocopy or digital copy of your photo ID.</p>
      <p>Your photo ID must not have expired.</p>
      <form class="form" action="f2f-find-post-office" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="security-code-hint">
            <div class="govuk-radios" data-module="govuk-radios">

              <!-- UK Passport -->
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f2f-id" name="f2f-id" type="radio" value="UK passport" aria-describedby="f2f-id-item-hint">
                <label class="govuk-label govuk-radios__label" for="f2f-id">
                  UK passport
                  <div id="event-name-hint" class="govuk-hint">
                    If your UK passport has expired, you can still use it to prove your identity up to 18 months after its expiry date.
                  </div>
                </label>
              </div>
        
              <!-- Non-UK passport -->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f2f-id-1" name="f2f-id" type="radio" value="Non-UK passport" aria-describedby="f2f-id-item-hint">
                <label class="govuk-label govuk-radios__label" for="f2f-id-1">
                  Non-UK passport
                </label>
              </div>

              <!-- UK photocard driving licence -->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f2f-id-2" name="f2f-id" type="radio" value="UK photocard driving licence" aria-describedby="f2f-id-item-hint">
                <label class="govuk-label govuk-radios__label" for="f2f-id-2">
                  UK photocard driving licence
                  <div id="event-name-hint" class="govuk-hint">
                    The address on your driving licence must be the same as your current address.
                  </div>
                </label>
              </div>

              <!-- Biometric residence permit (BRP) -->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f2f-id-3" name="f2f-id" type="radio" value="Biometric residence permit (BRP)" aria-describedby="f2f-id-item-hint">
                <label class="govuk-label govuk-radios__label" for="f2f-id-3">
                  Biometric residence permit (BRP)
                  <div id="event-name-hint" class="govuk-hint">
                    You might have a BRP if you have a visa for longer than 6 months or indefinite leave to remain. You cannot use a UK Frontier Worker permit (FWP) or a UK biometric residence card (BRC), also called a UK residence card. 
                  </div>
                </label>
              </div>
            
              <!-- European Union (EU) photocard driving licence -->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f2f-id-4" name="f2f-id" type="radio" value="European Union (EU) photocard driving licence" aria-describedby="f2f-id-item-hint">
                <label class="govuk-label govuk-radios__label" for="f2f-id-4">
                  European Union (EU) photocard driving licence
                  <div id="event-name-hint" class="govuk-hint">
                    This must be a plastic photocard, not a paper or handwritten licence. If it has your address on it, it must be your current address. 
                  </div>
                </label>
              </div>
                    
              <!--National identity card from a European Economic Area (EEA) country -->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f2f-id-5" name="f2f-id" type="radio" value="National identity card" aria-describedby="f2f-id-item-hint">
                <label class="govuk-label govuk-radios__label" for="f2f-id-5">
                  National identity card from a European Economic Area (EEA) country
                  <div id="event-name-hint" class="govuk-hint">
                    This must be a plastic photocard, not a paper or handwritten card. If it has your address on it, it must be your current address. 
                  </div>
                </label>
              </div>     

              <p>or</p>

              <!--I do not have any of these documents-->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f2f-id-6" name="f2f-id" type="radio" value="f2f-no-document" aria-describedby="f2f-id-item-hint">
                <label class="govuk-label govuk-radios__label" for="f2f-id-6">
                  I do not have any of these documents
                </label>
              </div> 
            </div> <!-- /. govuk-radios -->
          </fieldset> <!-- /. govuk-fieldset -->
        </div> <!-- /. govuk-form-group -->
        <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
      </form> <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
  </div> <!-- /. govuk-grid-row -->

{% endblock %}
