{% extends "layouts/main.html" %}

{% block pageTitle %}
Find an address - GOV.UK One Login - GOV.UK
{% endblock %}

{% block header %}
{% include "../../_includes/header-sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="post-office-customer-letter-choose-address" method="post">
        <h1 class="govuk-heading-l">Find an address</h1>
        <p>Enter the UK postcode of where you want to have your Post Office customer letter sent.</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label govuk-label--s">
            UK postcode
          </label>
          <div class="govuk-hint">For example, SW1A 2AA</div>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="address-postcode-current" type="text" autocomplete="postal-code">
        </div>
        <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
      </form>
      <p><a href="#">Enter address manually</a></p>
    </div>
  </div>

{% endblock %}
