{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose a Post Office where you can prove your identity - GOV.UK One Login
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l page-heading">Choose a Post Office where you can prove your identity</h1>
    <p>Your chosen Post Office will be shown on your customer letter. You can go to a different Post Office as long as it offers in-branch verification.</p>
    <h2 class="govuk-heading-m page-heading">Postcode</h2>
    <h2 class="govuk-heading-m page-heading">SW2 1AA <a href="find-post-office-prove-identity" class="govuk-link govuk-link--no-visited-state">Change</a></h2>
    <form class="form" action="post-office-customer-letter" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="post-office-branch-1" name="post-office-branches" type="radio" value="106 Brixton Hill, London, SW2 1AH">
                <label class="govuk-label govuk-radios__label" for="post-office-branch-1">
                  <b>Brixton Hill</b>
                </label>
                <div id="address1" class="govuk-body govuk-radios__hint">
                  106 Brixton Hill, London, SW2 1AH
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="post-office-branch-2" name="post-office-branches" type="radio" value="66 Elm Park, London, SW2 2UB">
                <label class="govuk-label govuk-radios__label" for="post-office-branch-2">
                  <b>Elm Park</b>
                </label>
                <div id="address2" class="govuk-body govuk-radios__hint">
                  66 Elm Park, London, SW2 2UB
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="post-office-branch-3" name="post-office-branches" type="radio" value="31-39 Norwood Road, London, SE24 9QG">
                <label class="govuk-label govuk-radios__label" for="post-office-branch-3">
                  <b>Herne Hill</b>
                </label>
                <div id="address3" class="govuk-body govuk-radios__hint">
                  31-39 Norwood Road, London, SE24 9QG
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="post-office-branch-4" name="post-office-branches" type="radio" value="161-163 Clapham High Street, London, SW4 7ST">
                <label class="govuk-label govuk-radios__label" for="post-office-branch-4">
                  <b>Clapham Common</b>
                </label>
                <div id="address3" class="govuk-body govuk-radios__hint">
                  161-163 Clapham High Street, London, SW4 7ST
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="post-office-branch-5" name="post-office-branches" type="radio" value="102 Streatham Hill, London, SW2 4UQ">
                <label class="govuk-label govuk-radios__label" for="post-office-branch-5">
                  <b>Streatham Hill</b>
                </label>
                <div id="address3" class="govuk-body govuk-radios__hint">
                  102 Streatham Hill, London, SW2 4UQ
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
    <p class="govuk-body"><a href="../ipv-core/pyi-another-way" class="govuk-link govuk-link--no-visited-state">I want to prove my identity another way</a></p>
  </div>
</div>

{% endblock %}
