{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% set htmlClasses = "app-email" %}
{% set bodyClasses = "app-email__body" %}
{% block footer %}{% endblock %}

{% block pageTitle %}
Go to Post Office email - GOV.UK One Login
{% endblock %}

{% block headIcons %}
<link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
<link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="email-message">
      <table class="email-message-meta">
        <tbody>
          <tr>
            <th scope="row">From</th>
            <td>
            GOV.UK One Login
            </td>
          </tr>
          <tr>
            <th scope="row">To</th>
            <td>
              <span class="placeholder-no-brackets background: #fd0;">john.doe@example.com</span>
            </td>
          </tr>
          <tr class="email-message-meta">
            <th scope="row">Subject</th>
            <td>
              Go to a Post Office within 15 days to finish proving your identity 
            </td>
          </tr>
        </tbody>
      </table>
      {{ govukHeader({
        homepageUrl: "#"
      }) }}
      <div class="email-message-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        <p>Dear John Doe,</p>
        <p>To finish proving your identity, you need to go to a Post Office that offers in-branch verification within the next 15 days. </p>
        {{ govukInsetText({
          text: "If you do not go to a Post Office within the next 15 days, you’ll need to start proving your identity again."
        }) }}
        <h2 class="govuk-heading-m">What you need to take to a Post Office</h2>
        <p>When you go to a Post Office, you must take:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your Post Office customer letter</li>
        <li>the photo ID shown on your Post Office customer letter</li>
      </ul>
      <p class="govuk-body">You can download your Post Office customer letter at:
        <p><a href="f2f-download-start" target="_blank">https://documents.service.gov.uk/d/NqWo3pW3T_G_6IR09B1N9A/OhTvE0DXSnezXa0YG7K-kQ?key=dl-_LomVNvxOP9wUSGR-0-hi29uSw_zJ-DZSw29LtgU</a></p>
        <p>If you asked us to, we'll also send your customer letter to you by post. </p>
      <h2 class="govuk-heading-m">Which Post Office to go to</h2>
      <p class="govuk-body">Your customer letter shows which Post Office you chose to go to.  </p>
      <p>You can go to a different Post Office as long as it offers in-branch verification:</p>
      <p><a href="https://www.postoffice.co.uk/identity/in-branch-verification-service#bfSearchLabel">https://www.postoffice.co.uk/identity/in-branch-verification-service#bfSearchLabel"</a>.</p>
      <p>You do not need to contact the GOV.UK One Login team if you decide to go to a different Post Office.</p>
      <h2 class="govuk-heading-m">At the Post Office</h2>
      <p>You’ll need to show your Post Office customer letter on your phone or tablet, or take a printed copy with you. </p>
      <p>A member of Post Office staff will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>check your customer letter</li>
        <li>scan your photo ID</li>
        <li>take a photo of you</li>
      </ul>
      <h2 class="govuk-heading-m">After you've been to the Post Office</h2>
      <p>You’ll get an email about the result of your identity check - usually within a day of going to the Post Office.</p>
      <p>You’ll need to follow the link in the email to sign in to your GOV.UK One Login and view your result.</p>
      <h2 class="govuk-heading-m">If you need help</h2>
      <p class="govuk-body">Contact the GOV.UK One Login support team:<a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener"> https://home.account.gov.uk/contact-gov-uk-one-login</a></p>
      <p>Regards,</p>
      <p>GOV.UK One Login team</p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <p class="govuk-body govuk-!-margin-bottom-6">Do not reply to this email - it’s an automatic message from an unmonitored account.</p>
    </div>
  </div>
</div>

{% endblock %}
