{% extends "layouts/main.html" %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
        {
          href: "https://www.figma.com/proto/aVqNC4pKaebZchIU691f31/DI-Authentication?node-id=7721%3A25831&scaling=scale-down&page-id=7721%3A25663&starting-point-node-id=7721%3A25831",
          text: "Auth App desktop"
        }, 
        {
          href: "https://www.figma.com/proto/aVqNC4pKaebZchIU691f31/DI-Authentication?node-id=7712%3A27042&scaling=scale-down&page-id=7712%3A26019&starting-point-node-id=7712%3A27042",
          text: "Auth App mobile"
        }, 
          {
            href: "#",
            text: "Accessibility statement"
          },
          {
            href: "#",
            text: "Cookies"
          },
          {
            href: "#",
            text: "Terms and conditions"
          },
          {
            href: "#",
            text: "Privacy notice"
          },
          {
            href: support,
            text: "Support"
          },
          {
            href: "?devMode=true",
            text: "DM"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block pageTitle %}
Set up your authenticator app
{% endblock %}

{% block header %}
{% include "../auth/_includes/header-auth-mvp.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="create-choose-otp-method.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Set up your authenticator app</h1>
    <p class="govuk-body">1. Open your authenticator app on your smartphone, tablet or computer.</p>

    {{ govukDetails({
      summaryText: "I don’t have an authenticator app",
     html: "<p>You can download an authenticator app for your smartphone or tablet from your app store.</p>
     <p>If you don’t have a smartphone or tablet, search online for an authenticator app for your computer. You can use any authenticator app.</p>"
    }) }}

    <p class="govuk-body">2. Use your authenticator app to scan the QR code or type the secret key into your authenticator app. Some authenticator apps call the secret key a ‘code’.</p>
    <img src="/public/images/auth-app-qr-code.png" class="govuk-!-margin-bottom-8">

    {{ govukDetails({
    summaryText: "I cannot scan the QR code",
    html: "<p>You can enter the secret key into your authenticator app instead.</p>
    <p>Secret key: <br> <strong> QWMA HC7F SZQW YIJJ RRIT X64U KCSS OHSK </strong></p>
    <p>Some authenticator apps call the secret key a ‘code’.</p>
    <p>If you don’t have a smartphone or tablet, search online for an authenticator app for your computer. You can use any authenticator app.</p>"
    }) }}
     
    <p class="govuk-body">3.  The authenticator app will show a security code.</p>
    <p class="govuk-body">4. Enter the security code.</p>
    <div class="govuk-form-group">
      <label class="govuk-label" for="otp">Security code</label>
      <div id="password-hint" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
        This is the 6 digit number shown in your authenticator app
      </div>
      <input class="govuk-input govuk-input--width-5" id="otp" name="create-otp-auth" type="text" spellcheck="false" autocomplete="false">
    </div>
    <form class="form" action="create-success" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      <p><a href="create-choose-otp-method">Get a code another way</p>
    </form> <!-- /. form -->
  </div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->

{% endblock %}

