{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your phone
{% endblock %}

{% block header %}
{% include "../auth/_includes/header-auth-mvp.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <!-- If user selects Voice OTP method then display the respective content for that method -->

      {% if data['security-code'] === 'otp-voice' %}
      <a class="govuk-back-link" href="signin-password">Back</a>
      <form class="form" action="signin-success" method="POST">
        <h1 class="govuk-heading-l">Enter the security code you hear on your phone</h1>
        <div class="govuk-inset-text">
          <p>We’ll call you now on your phone number ending with  <strong>{{ data['obfNumber'] or '789' }}</strong></p>
        </div>
        <p class="govuk-body">The call may come from an unknown or withheld number.</p>
        <p class="govuk-body">When you answer the phone, you’ll hear an automated message reading the security code.</p>
        <p class="govuk-body">The code expires after 15 minutes.</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="otp">Enter the 6 digit security code</label>
          <input class="govuk-input govuk-input--width-5" id="otp" name="create-sms-otp" type="text" autocomplete="one-time-code" inputmode="numeric" spellcheck="false" >
        </div>
        </p>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Problems with the code?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              You can 
              <a href="">get another phone call</a> if the code is not working or you did not receive it.</a> 
            </p>
          </div>
        </details>
      </form>
         
      <!-- If user selects face recognition method then display the respective content for that method -->

      {% elif data['security-code'] === 'face-recognition' %}
      <form class="form" action="../../service/govuk-account/account-management/your-services" method="POST">
        <script>
          setTimeout(function(){
             window.location.href = '../../service/govuk-account/account-management/account-home';
          }, 8000);
        </script>
        <h1 class="govuk-heading-l">Sign in with face recognition</h1>
        <center> <img src="/public/images/auth-face.gif"><br>
          <p class="govuk-body">Look directly at your device</p>
        </center>
       <br>
       <br> 
       <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            {% if data['security-code-backup'] !== 'otp-skip' %}
            <span class="govuk-details__summary-text">
              Problems with face recognition?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              <a href="signin-checkphone-backup">Use your back-up security method.</a><br>
            </p>
            {% endif %}
          </div>
        </details>
      </form>
      
      <!-- If user selects fingerprint method then display the respective content for that method -->

     {% elif data['security-code'] === 'fingerprint' %}
     <form class="form" action="../../service/govuk-account/account-management/your-services" method="POST">
      <html>
        <script>
          setTimeout(function(){
             window.location.href = '../../service/govuk-account/account-management/account-home';
          }, 8000);
        </script> 
      </html>
      <h1 class="govuk-heading-l">Sign in with your fingerprint</h1>
      <center> <img src="/public/images/auth-finger.gif"><br>
      <p class="govuk-body">
        Touch the fingerprint sensor
        </p></center>
      <br>
      <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          {% if data['security-code-backup'] !== 'otp-skip' %}
          <span class="govuk-details__summary-text">
            Problems with fingerprint recognition?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            <a href="signin-checkphone-backup">Use your back-up security method.</a><br>
          </p>
          {% endif %}
        </div>
      </details>
    </form>
    
    <!-- If user selects auth method then display the respective content for that method -->

    {% elif data['security-code'] === 'otp-auth' %}
    <form class="form" action="signin-success" method="POST">
      <h1 class="govuk-heading-l">
        Enter the security code you see in your authenticator app
      </h1>
      <div class="govuk-form-group">
        <label class="govuk-label" for="otp">Enter the 6 digit security code</label>
        <input class="govuk-input govuk-input--width-5" id="otp" name="create-sms-otp" type="text" autocomplete="one-time-code" inputmode="numeric" spellcheck="false" >
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      <p><a href="#">I do not have access to my authenticator app</a> </p> 
    </form>
      
    <!-- Else display the default SMS method with its respective content -->

    {% else %}
    <form class="form" action="signin-success" method="POST">
      <h1 class="govuk-heading-l">Check your phone</h1>
      <div class="govuk-inset-text">
        <p>We have sent a code to your phone number ending with  <strong>{{ data['obfNumber'] or '789' }}</strong></p>
      </div>
      <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="otp">Enter the 6 digit security code</label>
        <input class="govuk-input govuk-input--width-5" id="otp" name="create-sms-otp" type="text" autocomplete="one-time-code" inputmode="numeric" spellcheck="false" >
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems with the code?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            <p class="govuk-body">
              <a href="">Send the code again.</a> if it’s not working or you did not receive it.
              </p>
            <p class="govuk-body">
            If you no longer have access to this phone number you may be able to <a href="recovery-id-steps">change how you get security codes.</a>
            </p>
            <form action="signin-email-recovery" method="post">
              <a href="javascript:;" onclick="parentNode.submit();"></a>
              <input type="hidden" name="mess" value=<%=n%>
            </form>  
          </p>
        </div>
      </details>
    </div>     
  </div>
</div>
{% endif %}
{% endblock %}