{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your details exactly as they appear on your UK passport - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enter your details exactly as they appear on your UK passport
      </h1>
      <form class="form" action="../address-cri/find-current-address" method="post">
        <p>Your passport includes a lot of information that we can check to make sure that you are who you say you are.</p>
        <p>We'll check your details with the HM Passport Office to make sure your passport has not been cancelled or reported as lost or stolen.</p>
        <div class="govuk-inset-text">
          If you do not have a UK passport or you cannot remember your details, you can try to <a href="kbv-intro">prove your identity another way</a> instead.
        </div>

        {{ govukInput({
          label: {
            text: "Passport number"
          },
          classes: "govuk-input--width-10",
          hint: {
          text: "This is the 9 digit number in the top right hand corner of the photo page in your passport"
          },
          id: "passport-number",
          name: "passport-number",
          value: data['passport-number'],
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Surname"
          },
          id: "surname",
          name: "surname",
          value: data['surname'],
          autocomplete: "family-name",
          spellcheck: false
        }) }}

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">Given names</legend>
          <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2" style="border-left-width: 4px;">

            {{ govukInput({
              label: {
                text: "First name"
              },
              id: "first-name",
              name: "first-name",
              value: data['first-name'],
              autocomplete: "given-name",
              spellcheck: false
            }) }}

            {{ govukInput({
              label: {
                text: "Middle names"
              },
              hint: {
              text: "You do not have to fill this in if you do not have any middle names"
              },
              id: "middle-names",
              name: "middle-names",
              value: data['middle-names'],
              autocomplete: "additional-name",
              spellcheck: false
            }) }}

          </div>
        </fieldset>

        {{ govukDateInput({
          id: "dob",
          namePrefix: "dob",
          fieldset: {
            legend: {
              text: " Date of birth"
            }
          },
          hint: {
            text: "For example, 5 9 1973"
          },
          items: [
            {
              name: "day",
              value: data['dob-day'],
              classes: "govuk-input--width-2",
              autocomplete: "bday-day"
            },
            {
              name: "month",
              value: data['dob-month'],
              classes: "govuk-input--width-2",
              autocomplete: "bday-month"
            },
            {
              name: "year",
              value: data['dob-year'],
              classes: "govuk-input--width-4",
              autocomplete: "bday-year"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "passport-expires",
          namePrefix: "passport-expires",
          fieldset: {
            legend: {
              text: "Expiry date"
            }
          },
          hint: {
            text: "For example, 27 5 2029"
          },
          items: [
            {
              name: "day",
              value: data['passport-expires-day'],
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: data['passport-expires-month'],
              classes: "govuk-input--width-2"
            },
            {
              name: "year",
              value: data['passport-expires-year'],
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        <button id="button2" class="govuk-button govuk-visually-hidden" data-module="govuk-button">Continue</button>

        <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Continue</button>
      </form>
      <div class="govuk-notification-banner govuk-notification-banner--journey-options govuk-!-margin-top-9" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Prototype options
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p><a href="enter-passport-details-retry" class="govuk-link govuk-link--no-visited-state">No match, retry</a></p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    submitSpinner()
  
    function buttonClicked(target) {
      target.setAttribute('disabled', 'disabled')
      target.className += ' button--save'
      setTimeout(function () {
        document.getElementById('button2').click()
      }, 2000)
    }
  
    function submitSpinner() {
      var selects = document.getElementById('button--save')
      selects.addEventListener('click', function (event) {
        event.preventDefault()
        if (selects.getAttribute('disabled') === 'disabled') {
          console.log('already clicked')
        } else {
          event.preventDefault()
          console.log(selects.getAttribute('disabled'))
          buttonClicked(selects)
        }
      })
    }
  </script>

{% endblock %}
