{% extends "layouts/main.html" %}

{# if coming in from a service - find out which one #}

{% block pageTitle %}
Create a GOV.UK One Login or sign in 
{% endblock %}

{% block header %}
{% include "../authentication/_includes/header-auth-mvp.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}

  {% if data['use-govuk-account'] %}
    <a class="govuk-back-link" href="#">Back</a>
  {% else %}

  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../ipv-core/triage/online-photoid-screener" method="post" class="form">
      <h1 class="govuk-heading-l">Create your GOV.UK One Login or sign in</h1>
      <p>You can use your GOV.UK One Login to access some government services.<p>
        <p> In the future, you’ll be able to use it to access all services on GOV.UK. <p>
       
      <div class="govuk-inset-text">
        You can also <a href="#">use GOV.UK One Login in Welsh (Cymraeg) </a>
      </div>
      <div class="govuk-button-group"  href=# >
        <button class="govuk-button" data-module="govuk-button">
          Create your GOV.UK One Login 
        </button>  
    </form>
    <form action="../ipv-core/triage/online-photoid-screener" method="post" class="form">
      <div class="govuk-button-group">
      <button action="../ipv-core/triage/online-photoid-screener" class="govuk-button govuk-button--secondary"  data-module="govuk-button">
        Sign in
      </button>
      </div>
    </form>
  </div>
  <p><a class="govuk-link" href="">Services you can use with GOV.UK One Login (opens in new tab) </a> </p>




{% endblock %}
