{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your landline telephone number? - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="dwp-question2" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            What is your landline telephone number?
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          For example, 01632 960000 or +44 1632 960000
        </div>
        <input class="govuk-input govuk-input--width-10" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
      </div>
      <input class="govuk-input" name="kbvNum" type="hidden" value="{{ code }}">
      <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I do not have this information now
          </span>
        </summary>
        <div class="govuk-details__text">
        </div>
      </details>
      <button id="button" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>
    </form>
    <p><a class="govuk-link" href="../ipv-core/kbv-drop-off-buffer">I cannot answer this question</a></p>
  </div>
</div>

{% endblock %}
