{% extends "layouts/main.html" %}

{% block pageTitle %}
We could not match your National Insurance number - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Find another way to prove your identity</h1>
    <form class="form" action="pyi-escape" method="post">
      {{ govukRadios({
        name: "pyi-escape",
        idPrefix: "pyi-escape",
        fieldset: {
          legend: {
          text: "What would you like to do?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"}
        },
        items: [{
          value: "return",
          text: "Continue to the service you were trying to use to look for other ways to prove your identity"
          },
          {
          value: "try again",
          text: "Try proving your identity with GOV.UK One Login again"
          }]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
