{% extends "layouts/main.html" %}

{% block pageTitle %}
Who was your UK driving licence issued by? - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="dl-choice" method="post">

      {{ govukRadios({
        name: "which-dl",
        idPrefix: "which-dl",
        fieldset: {
          legend: {
            text: "Who was your UK driving licence issued by?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "You can find this in section 4c of your driving licence. It will either say DVLA (Driving and Vehicle Licensing Agency) or DVA (Driver and Vehicle Agency)."
        },
        items: [
          {
            value: "dvla",
            text: "DVLA"
          },
          {
            value: "dva",
            text: "DVA"
          },
          {
            divider: "or"
          },
          {
            value: "none",
            text: "I do not have a UK driving licence"
          }
        ]
      }) }}

      <button id="button2" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Why you need to tell us this</span>
      </summary>
      <div class="govuk-details__text">
        <p>We need to make sure we check your driving licence details with the right organisation. DVLA issues driving licences in Great Britain (England, Scotland and Wales). DVA issues driving licences in Northern Ireland.</p>
      </div>
    </details>
  </div>
</div>

{% endblock %}

