{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell us if you have access to an iPhone or Android phone - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Do you have a smartphone you can use?</h1>
    <p class="govuk-hint">You need a smartphone with working front (selfie) and rear cameras for some ways of confirming your identity. </p>
    <p class="govuk-hint">If you can use a smartphone to confirm your identity, we will guide you to switch devices later.</p>
    <form action="app-download" method="post">
      {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "app-download-check",
      name: "app-download-check",
        items: [
          {
            value: "iphone",
            text: "Yes, I have an iPhone",
            checked: checked("app-computer-check", "iphone")
          },
          {
            value: "android",
            text: "Yes, I have an Android phone (for example, Samsung, Google Pixel, OPPO)",
            checked: checked("app-computer-check", "android")
          },
          {
            value: "no",
            text: "I don't have either of these",
            checked: checked("app-computer-check", "no")
          }
        ]
      }) }}
      <button class="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}
