{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Agree to share analytics
{% endblock %}


{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="mobile-frame">

  <!-- status bar -->
  <img src="/public/images/status-bar.svg" alt="Logo" id="status-bar">

  <!-- mobile-body -->
  <div class="mobile-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="centred-container">
          <img class="app-logo" src="/public/images/app-logo-with-tudor-crown.svg" width="135" height="135" alt="">
          <h1 class="govuk-app-heading-l govuk-app-margin-bottom-m govuk-app-margin-top-m" style="text-align: center;">
            GOV.UK ID Check
          </h1>
          <p class="govuk-app-body govuk-app-margin-bottom-m" style="text-align: center;">GOV.UK ID Check is a secure way to confirm your identity when you sign in to a government service with GOV.UK One Login.</p>
        </div>
        <div class="button-container">
          <button type="submit" class="govuk-app-button-default" data-module="govuk-button">
            Continue
          </button>
        </div>

        <!--Popup window -->
        <div id="govuk-app-modal-overlay">
          <div class="govuk-app-modal-container">
            <div class="header">
              <div class="left">
                <a href="#" class="govuk-app-link">Disagree</a>
              </div>
              <div class="right">
                <a href="permission-to-share-data" class="govuk-app-link"><b>Agree</b></a>
              </div>
            </div>
            <div class="govuk-app-modal-content">
              <h1 class="govuk-app-heading-l govuk-app-margin-bottom-m govuk-app-margin-top-l">
                Help improve the app by sharing analytics
              </h1>
              <p class="govuk-app-body govuk-app-margin-bottom-m">You can help us improve this app by choosing to automatically share app activity and analytics data.</p>
              <p class="govuk-app-body govuk-app-margin-bottom-m">This is optional and lets us understand how people use this service so we can make it better.</p>
              <p class="govuk-app-body govuk-app-margin-bottom-m">You can change your preferences at any time in your Settings.</p>
              <a href="#" class="govuk-app-link">View privacy policy</a>
            </div>
          </div>
        </div>
        <!-- End of Popup window -->
      </div>
    </div>
  </div>
</div>

{% endblock %}







