{% extends "layouts/main.html" %}

{% block pageTitle %}
We could not match your details to your bank or building society - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="bank-fail" method="post">
      <h1 class="govuk-heading-l">We could not match your details to your bank or building society</h1>
      <p>You can check your details and try again. You’ll only be able to do this once.</p>
      {{ govukRadios({
        name: "bank-fail",
        idPrefix: "bank-fail",
        fieldset: {
          legend: {
          text: "What would you like to do?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"}
        },
        items: [{
          value: "back",
          text: "Check your bank or building society account details and try again"
          },
          {
          value: "options",
          text: "Find another way to prove your identity",
          hint: {
            text: "You will not be able to change your mind and use your bank details."
          }
          }]
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
