{% extends "layouts/main.html" %}

{% block pageTitle %}
What would you like to do? - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="bank-escape" method="post">
      {{ govukRadios({
        name: "bank-escape",
        idPrefix: "bank-escape",
        fieldset: {
          legend: {
          text: "What would you like to do?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"}
        },
        items: [{
          value: "return",
          text: "Stop using your bank details and find another way to prove your identity",
          hint: {
            text: "Go back to the service you need to use or try photo ID."
          }
          },
          {
          value: "back",
          text: "Carry on using your bank details to prove your identity"
          }]
      }) }}
      {{ govukWarningText({
        text: "You cannot return to this page if you look for another way to prove your identity.",
        iconFallbackText: "Warning"
      }) }}
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
