{% extends "layouts/main.html" %}

{% block pageTitle %}
Update your details  - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}

{% include "../../../_includes/phase-banner.html" %}
{% if (data['continuityIdentity'] == "coi") %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-">
      <form class="form" action="delete-buffer" method="post">
        <h1 class="govuk-heading-l">You cannot update your full name or date of birth</h1>
        <p class="govuk-body">This is to help protect you from identity fraud.</p>
        {% if (data['continuityIdentity'] == "coi") %}
        <p class="govuk-body">You can still use the service if your details are out of date.</p>
        <p class="govuk-body">To use a different full name or date of birth, you’ll need to delete your GOV.UK One Login and create a new one. </p>
        {{ govukRadios({
          name: "updateDetails",
          fieldset: {
            legend: {
              text: "What would you like to do?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "continue",
              text: "Continue to the service without updating your details",
              hint: {
                text: "Your proof of identity is valid even if your details have changed."
              }
            },
            {
              value: "delete",
              text: "Delete your GOV.UK One Login",
              hint: {
                text: "Then create a new one and prove your identity with your new details."
              }
            }
          ]
        }) }}

        {% else %}
        {{ govukWarningText({
          text: "You may not be able to use your GOV.UK One Login if your details are not up to date.",
          iconFallbackText: "Warning"
        }) }}
        <p class="govuk-body">To use a different full name or date of birth, you’ll need to delete your GOV.UK One Login and create a new one. </p>
        {{ govukRadios({
          name: "updateDetails",
          fieldset: {
            legend: {
              text: "What would you like to do?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "delete",
              text: "Delete your GOV.UK One Login",
              hint: {
                text: "Then create a new one and prove your identity with your new details."
              }
            },
            {
              value: "back",
              text: "Go back and check your details again",
              hint: {
                text: "You might be able to update your details if you only need to update either your first or middle names, or your last name."
              }
            }
          ]
        }) }}
        
        {% endif %}
        <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
