{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to confirm your details  - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-">
      <form class="form" action="confirm-your-details" method="post">
        <h1 class="govuk-heading-l">You need to confirm your details</h1>
        <p class="govuk-body">To keep your GOV.UK One Login secure, you need to confirm the details you gave us when you proved your identity.</p>
        <h2 class="govuk-heading-s">Your details</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Given names
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
              Philips
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current home address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['address-city-current'] %}
                {% if data['address-line1-current'] %}
                  {{ data['address-line1-current'] }}<br>
                {% endif %}
                {% if data['address-line2-current'] %}
                  {{ data['address-line2-current'] }}<br>
                {% endif %}
                {{ data['address-city-current'] }}<br>
                {% if data['address-county-current'] %}
                  {{ data['address-county-current'] }}<br>
                {% endif %}
                {{ data['address-postcode-current'] or 'LS1 3BE' }}

                {% else %}
                  Office 14 <br>
                  New Station St <br>
                  Leeds <br>
                  LS1 5DL
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              29 February 1984
            </dd>
          </div>
        </dl>
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              If there is a mistake in your name
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Contact the GOV.UK One Login team if there is a mistake in your name. For example, if your name is missing letters or a hyphen.</p>
            <p>Do not try to update your details unless the GOV.UK One Login support team has told you to. </p>
            <p><a href="#">Contact the GOV.UK One Login team (opens in new tab)</a></p>
          </div>
        </details>

        {% set emailHtml %}
          {{ govukCheckboxes({
          name: "update-details",
          fieldset: {
            legend: {
              text: "Which details do you need to update?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Given names",
              text: "Given names",
              hint: {
                text: "This is your first name and middle names."
              }
            },
            {
              value: "Last name",
              text: "Last name"
            },
            {
              value: "Address",
              text: "Address"
            },
            {
              value: "Date of birth",
              text: "Date of birth"
            }
          ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "details-correct",
          fieldset: {
            legend: {
              text: "Are your details up to date?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No - I need to update my details",
              conditional: {
                html: emailHtml
              }
            }
          ]
        }) }}

        {{ govukWarningText({
          text: "You may not be able to use your GOV.UK One Login if your details are not up to date.",
          iconFallbackText: "Warning"
        }) }}
        <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
