{% extends "layouts/main.html" %}

{% block pageTitle %}
Update your details  - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}

{% include "../../../_includes/phase-banner.html" %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-">
      <form class="form" action="update-name" method="post">
        <h1 class="govuk-heading-l">Update your name using the GOV.UK ID Check app</h1>
        <p class="govuk-body">To update your name, you need to prove your identity again with your new name.</p>
        <p>You'll need:<p></p>
        <ul class="govuk-list govuk-list--bullet"> 
          <li>photo ID with the name you want GOV.UK One Login to use</li>
          <li>to tell us where you’ve lived for the last 3 months</li>
        </ul>
        <p class="govuk-body">Find out <a href="#">what photo ID you can use to prove your identity (opens in new tab)</a>.</p>
        {{ govukWarningText({
          text: "You may not be able to use your GOV.UK One Login if we cannot confirm your identity using your new details.",
          iconFallbackText: "Warning"
        }) }}
        <h2 class="govuk-heading-m">If there is a mistake in your name</h2>
        <p class="govuk-body">If there is a mistake in your name, do not try to prove your identity again unless the GOV.UK One Login support team has told you to.</p>
        <p class="govuk-body">For example, if your name is missing letters or a hyphen, <a href="#">contact the GOV.UK One Login team (opens in new tab)</a> instead. </p>
        <h2 class="govuk-heading-m">If you need to use the service now</h2>
        <p class="govuk-body">Your proof of identity is still valid even if your details are out of date.</p>
        <p class="govuk-body">You can use your saved details to access the service you need to use.</p>
        {{ govukRadios({
          name: "updateName",
          idPrefix: "updateName",
          fieldset: {
            legend: {
            text: "What would you like to do?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"}
          },
          items: [{
            value: "app",
            text: "Update your name using the GOV.UK ID Check app",
            hint: {
              text: "We’ll guide you through this."
              }
            },
            {
            value: "service",
            text: "Continue to the service you were trying to use",
            hint: {
              text: "You can update your details later."
              }
            },
            {
            divider: "or"
            },
            {
            value: "back",
            text: "Go back and check your details again"
            }]
        }) }}
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you cannot use the GOV.UK ID Check app
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Contact the GOV.UK One Login team if you cannot use the GOV.UK ID Check app.</p>
              <p>You may need to delete your GOV.UK One Login. Then you can create a new one and try to prove your identity again with your new details.</p>
              <a href="#">Contact the GOV.UK One Login team (opens in new tab)</a>.</p>
            </div>
          </details>
        <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
