{% extends "layouts/main.html" %}

{% block pageTitle %}
Delete your GOV.UK One Login - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}

{% include "../../../_includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-">
      <form class="form" action="../../fraud-cri/fraud-check" method="post">
        <h1 class="govuk-heading-l">You’ve given us your new name</h1>
        <p class="govuk-body">We’ll need to check your details when you continue.  </p>
        <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
        <p><a class="govuk-link" href="#" target="_blank">Contact the GOV.UK One Login team (opens in a new tab)</a></p>
      </form>
    </div>
  </div>

{% endblock %}
