{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your National Insurance number? - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Enter your National Insurance number</h1>
      <p class="govuk-body">We’ll check your National Insurance number with HM Revenue and Customs (HMRC) as part of proving your identity.</p>
      <p class="govuk-body">You can find your National Insurance number on your payslip, P60 or benefit letter.</p>
      <form class="form" action="ni-details-post" method="post">
      
      {{ govukInput({
        label: {
          text: "National Insurance number"
        },
        classes: "govuk-input--width-10",
        hint: {
          text: "For example, ‘QQ 12 34 56 C’."
        },
        id: "ni-number",
        name: "ni-number",
        value: data['ni-number']
      }) }}

      <button id="button2" class="govuk-button govuk-visually-hidden" data-module="govuk-button">Check and continue</button>
      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Check and continue</button>  
    </form>
    <p class="govuk-body"><a href="../ipv-core/nino-drop-off-buffer">I do not have my National Insurance number</a></p>
    <div class="govuk-notification-banner govuk-visually-hidden govuk-notification-banner--journey-options govuk-!-margin-top-9" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Prototype options
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p><a href="nino-retry" class="govuk-link govuk-link--no-visited-state">No match, retry</a></p>
        <p><a href="../ipv-core/nino-fail" class="govuk-link govuk-link--no-visited-state">Fail</a></p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      document.getElementById('button2').click()
    }, 2000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
</script>

{% endblock %}
