{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm your details - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../nino-cri/enter-national-insurance-number" method="post">
      <h1 class="govuk-heading-l">Confirm your details</h1>
      {% if (data['confidence'] == "low") %}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['firstName'] }} {{ data['middleName'] }} {{ data['lastName'] or "Sarah Jones" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="enter-name">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['date-of-birth-day'] }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] or "22 10 1993" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="enter-date-birth">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
        </dl>
        {{ govukWarningText({
          text: "You cannot change your name and date of birth once you continue to the next page.",
          iconFallbackText: "Warning"
        }) }}
      {% else %}
      <!--I updated the warning component text below for no photo ID - we need to update the baseline version to include med conf variant as well -->
      {{ govukWarningText({
          text: "You cannot change your name and date of birth once you continue to the next page.",
            iconFallbackText: "Warning"
          }) }}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['firstName'] }} {{ data['middleName'] }} {{ data['lastName'] or "Sarah Jones" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="enter-name">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['date-of-birth-day'] }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] or "22 10 1993" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="enter-date-birth">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
        </dl>
      {% endif %}
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
