{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your name as it appears on your HMRC record - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form autocomplete="off" action="enter-date-birth" method="post">
      {% if (data['confidence'] == "low") %}
      <h1 class="govuk-heading-l">Enter your name as it appears on your HMRC record</h1>
      <p class="govuk-body">It should match how your name is shown on documents such as your payslip, P60 or benefits letters.</p>
      {% elseif (data['f2f-screener'] == "yes") %}
        <h1 class="govuk-heading-l">Enter your name exactly as it appears on your photo ID</h1>
      {% else %}
        <h1 class="govuk-heading-l">Enter your name as it appears on your bank or building society account</h1>
        <p class="govuk-body">This needs to be the exact name registered to the account. If you’re using joint account details, you do not need to enter the other person’s name.</p>
        <div class="govuk-inset-text">
          <p>The name on your bank card might only use your initials.</p>
          <p>Check your banking app, online bank account or a bank statement for the full registered name. </p>
        </div>
      {% endif %}
      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name",
        name: "lastName",
        value: data['lastName'],
        spellcheck: false
      }) }}
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">Given names</legend>
        <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2" style="border-left-width: 4px;">
          {{ govukInput({
          label: {
            text: "First name"
          },
          id: "first-name",
          name: "firstName",
          value: data['firstName'],
          spellcheck: false
          }) }}
  
          {{ govukInput({
          label: {
            text: "Middle names"
          },
          hint: {
          text: "Leave this section blank if you do not have any middle names"
          },
          id: "middleName",
          name: "middleName",
          value: data['middleName'],
          spellcheck: false
          }) }}
        </div>
      </fieldset>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Names and letters you cannot enter
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            For technical reasons, we cannot accept:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>single letter names</li>
            <li>names with special characters or accent marks</li>
          </ul>
          <p class="govuk-body">
            You can enter your name using letters without special characters. 
          </p>
          <p class="govuk-body">
            Use a, e, o, u instead of á, é, ó, ú. For example, if your name is Renée, enter it as Renee. 
          </p>
          <p class="govuk-body">
            You can include hyphens or apostrophes if your name has them.  
          </p>
        </div>
      </details>
      <input class="govuk-input" id="no-id" name="no-id" type="hidden" value="yes">
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
      <p class="govuk-body">
        <a href="#" class="govuk-link" rel="noreferrer noopener" >
          Contact the GOV.UK One Login team (opens in a new tab)</a>
      </p>
    </form>
  </div>
</div>

{% endblock %}
