{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your name as it appears on your HMRC record - GOV.UK One Login - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form autocomplete="off" class="form" action="confirm-details" method="post">
      {{ govukDateInput({
            id: "date-of-birth",
            namePrefix: "date-of-birth",
            fieldset: {
              legend: {
                text: "Enter your date of birth",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "For example, 5 9 1973"
            },
            items: [
              {
                name: "day",
                value: data['date-of-birth-day'],
                classes: "govuk-input--width-2"
              },
              {
                name: "month",
                value: data['date-of-birth-month'],
                classes: "govuk-input--width-2"
              },
              {
                name: "year",
                value: data['date-of-birth-year'],
                classes: "govuk-input--width-4"
              }
            ]
          }) }}
      <input class="govuk-input" id="no-id" name="no-id" type="hidden" value="yes">
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
      <p class="govuk-body">
        <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
          Contact the GOV.UK One Login team (opens in a new tab)</a>
      </p>
    </form>
  </div>
</div>

{% endblock %}
