{% extends "layout.html" %}

{% block pageTitle %}
Your identity details confirmed with GOV.UK One Login
{% endblock %}

{% block header %}
{{ govukHeader({
homepageUrl: "/",
serviceName: "Make and register a lasting power of attorney (LPA)",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}
  {% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

        
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You have been unable to confirm your identity using GOV.UK One Login.
          </p>
        </div>
      </div>
      
      <h1 class="govuk-heading-xl">Confirm your identity</h1>

      <p>You need to confirm your identity before the Office of the Public Guardian (OPG) can register your Lasting Power of Attorney.</p>

      <p>You can either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>return to GOV.UK One Login and try to confirm your identity again</li>
        <li>ask someone you know to confirm your identity by vouching for you</li>
      </ul>

      <p>Continue to find out about vouching and who can confirm your identity.</p>

    <form novalidate="" method="post">

    <div class="govuk-button-group">
  
      <a href="#" class="govuk-button" data-module="govuk-button">Continue</a>
    
      <a id="return-to-tasklist-btn" href="#" class="govuk-button govuk-button--secondary">Return to task list</a>
    
    </div>

    </form>
  </div>
</div>

{% endblock %}